<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenFavoritePointClicked</key>
	<string>true</string>
	<key>forbiddenGPSClicked</key>
	<string>true</string>
	<key>forbiddenLayerPointHighlight</key>
	<string>true</string>
	<key>forbiddenShowCompass</key>
	<string>true</string>
	<key>forbiddenShowGPSOverlay</key>
	<string>true</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>true</string>
	<key>forbiddenShowMainLayer</key>
	<string>true</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>custom</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>true</string>
	<key>forbiddenTapIndoorLayer</key>
	<string>true</string>
	<key>needStopNMLayers</key>
	<string>true</string>
	<key>shouldShowTraffic</key>
	<string>false</string>
	<key>forbidenShowMapviewScaleLine</key>
	<string>custom</string>
	<key>forbiddenShowBaocuoButton</key>
	<string>custom</string>
</dict>
</plist>
