<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenRealtimeMapLayer</key>
	<string>custom</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>false</string>
	<key>forbiddenShowLocationShootingBtn</key>
	<string>false</string>
	<key>forbiddenShowLayersBtn</key>
	<string>false</string>
	<key>forbiddenMessageBoxButton</key>
	<string>false</string>
	<key>forbiddenShowInteractionLayer</key>
	<string>false</string>
	<key>forbiddenShowMainLayerInteraction</key>
	<string>false</string>
	<key>forbiddenShowMainLayerFavor</key>
	<string>false</string>
	<key>forbiddenMapPointClicked</key>
	<string>false</string>
	<key>forbiddenMapLongPressed</key>
	<string>false</string>
	<key>forbiddenAll3DArea</key>
	<string>custom</string>
</dict>
</plist>
