<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenTopViewShown</key>
	<string>true</string>
	<key>forbiddenBottomViewShown</key>
	<string>true</string>
	<key>forbiddenShowMainLayer</key>
	<string>true</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>true</string>
	<key>needResumePrevManager</key>
	<string>custom</string>
</dict>
</plist>
