/*****************reset*******************/

html {
    font-size: 100%;
    cursor: default;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, Verdana, Helvetica, sans-serif;
}


/*html{-webkit-text-size-adjust:none;}*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/*****************base********************/

html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    clear: both;
}

.hidden {
    display: none;
}

input {
    outline: none;
}

input:focus {
    outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #c8c8c8;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #c8c8c8;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #c8c8c8;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #c8c8c8;
}

v\: * {
    behavior: url(#default#vml);
    display: inline-block;
    position: absolute;
}

v\:shape {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute;
}

v\:group {
    behavior: url(#default#VML);
    position: absolute;
    display: inline-block;
}

v\:oval {
    behavior: url(#default#VML);
    position: absolute;
}

v\:TextBox {
    behavior: url(#default#VML);
    position: absolute;
    font-size: 12px;
    text-align: center;
}

path {
    fill: none;
    stroke-width: 7;
}

.hide{
    display: none !important;
}
.radius_border {
    position: relative;
}

.radius_border:before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform: scale(0.5);
    transform-origin: 0 0;
}


/********************style********************/

#version_wrap {
    position: absolute;
    top: 90px;
    font-size: 12px;
    left: 20px;
    color: red;
    z-index: 100;
}

#console_wrap{
    position: absolute;
    top: 110px;
    left: 20px;
    font-size: 12px;
    width: 100px;
    height: 100px;
    background:#fff;
    z-index: 101;
    opacity: 0.7;
}

.os {
    display: none;
}

#os {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.subwaypage,
.subwaybody {
    height: 100%;
}

.subwaypage {
    position: fixed;
    top: 0;
    left: 0;
}


/*.android .subwaypage{
	position: relative;
}*/

.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    z-index: 11;
    /*border-bottom: 1px #9a9997 solid;*/
    text-align: center;
    background: #fafafa;
}

.top_bar .top_bar_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background: #fafafa;
    border-bottom: 1px #ccc solid;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.top_bar .top_bar_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    /*-webkit-transform: scaleY(2);
    -webkit-transform-origin: 0 0;
    transform: scaleY(2);
    transform-origin: 0 0;*/
    z-index: 13;
}

.ios .top_bar {
    padding-top: 20px;
}

.ios .top_bar .top_bar_bg {
    top: 20px;
}

.ios .top_bar .top_bar_main {
    top: 20px;
}

.top_bar .city_name,
.top_bar .city_title {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    color: #333333;
}

.top_bar .back_btn {
    position: absolute;
    height: 44px;
    width: 32px;
    background: url(../img/back_btn.png) center center no-repeat;
    background-size: 32px 32px;
    margin: 2px 0 0 6px;
}

.top_bar .back_btn#back_subway {
    margin: 0;
    width: 44px;
    margin-top: 2px;
}

.top_bar .city_list_btn {
    display: inline-block;
    position: absolute;
    right: 14px;
    bottom: 2px;
    /*width: 50px;*/
    line-height: 44px;
    height: 44px;
    min-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #4287ff;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.route_entry {
    /*margin-top: 8px;*/
    height: 48px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    padding-right: 58px;
    padding-left: 39px;
}

.route_ipt {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    font-size: 14px;
    width: 1%;
    height: 32px;
    line-height: 32px;
    border: 0;
    /*border: 1px #bbb solid;*/
    background: #fff;
    -webkit-appearance: none;
    border-radius: 2px;
    display: block;
    text-align: left;
    text-indent: 8px;
    padding-right: 28px;
    position: relative;
    margin-top: 8px;
}
.start_img{
    background: url(../img/start-marker.png);
    background-size: 23px 30px;
    width: 100%;
    height: 100%;
}
.end_img{
    background: url(../img/end-marker.png);
    background-size: 23px 30px;
    width: 100%;
    height: 100%;
}
.route_startend {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    line-height: 34px;
}
.ios .route_startend{
	line-height: 32px;
}

.route_switch {
    display: block;
    width: 22px;
    height: 44px;
    background: url(../img/switch_btn.png) center center no-repeat;
    background-size: 22px 22px;
    padding: 0 4px;
    margin-top: 2px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.route_close {
    width: 28px;
    height: 28px;
    background: url(../img/ipt_clear_btn.png) center center no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 19;
    /*margin-right: 5px;*/
}

.route_startend.route_placeholder {
    color: #999;
}

.light_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 19;
}

.filter_btn {
    position: fixed;
    width: 36px;
    height: 14px;
    line-height: 14px;
    top: 58px;
    right: 10px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
    border-radius: 2px;
    z-index: 20;
    background: #fff url(../img/filter.png) no-repeat;
    background-size: 21px 19px;
    background-position: 8px 4px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 22px;
    color: #212121;
}

.ios .filter_btn {
    top: 78px;
}

.newcity .filter_btn {
    top: 102px;
}

.newcity.ios .filter_btn {
    top: 122px;
}

.filter_list {
    position: fixed;
    top: 92px;
    right: 10px;
    z-index: 21;
    background: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
    border-radius: 2px;
}

.ios .filter_list {
    top: 112px;
}

.newcity .filter_list {
    top: 136px;
}

.ios.newcity .filter_list {
    top: 154px;
}

.flier_close_btn {
    position: absolute;
    top: -34px;
    right: 0;
    width: 36px;
    height: 36px;
    background: #fff url(../img/close_btn.png) no-repeat;
    background-size: 16px 16px;
    background-position: 10px 10px;
    border-radius: 2px;
    z-index: 22;
}

.fliter_detail {
    max-height: 286px;
    padding: 0 11px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.fliter_item {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px #eaeaea solid;
    overflow: hidden;
    zoom: 1;
}

.line_color {
    display: block;
    height: 8px;
    width: 30px;
    float: left;
    margin-top: 16px;
    margin-right: 10px;
}

.line_name {
    display: block;
    float: left;
}

.dir_close_btn {
    position: fixed;
    width: 36px;
    height: 36px;
    top: 58px;
    right: 10px;
    z-index: 20;
    background: #fff url(../img/close_btn.png) center center no-repeat;
    background-size: 16px 16px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
}

.ios .dir_close_btn {
    top: 78px;
}

.newcity .dir_close_btn {
    top: 102px;
}

.newcity.ios .dir_close_btn {
    top: 122px;
}

.route_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 42px;
    padding: 10px 0;
    width: 100%;
    /*border-top: 1px #dfdfdf solid;*/
    background: #fff;
    z-index: 40;
}
.route_bar:after{
	content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid #dfdfdf;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.route_bar .route_line {
    width: 80%;
    /*height: 24px;*/
    line-height: 18px;
    font-size: 14px;
    padding-left: 15px;
    color: #333;
    /*text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;*/
}

.route_bar .route_info {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
    padding-left: 15px;
}

.route_bar .route_detail {
    position: absolute;
    line-height: 42px;
    font-size: 14px;
    color: #43a5ff;
    top: 10px;
    right: 15px;
}

.citylistpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: 50;
    background: #fff;
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.android .citylistpage {
    position: absolute;
}

.city_bar {
    position: relative;
    width: 100%;
    height: 45px;
    z-index: 11;
    background: #f8f8f8;
    border-bottom: 1px #9a9997 solid;
    text-align: center;
}

.citylist_wrap {
    margin-top: 48px;
    background: #fff;
    -moz-transition: margin-top 0.2s ease-in;
    -webkit-transition: margin-top 0.2s ease-in;
    -o-transition: margin-top 0.2s ease-in;
    transition: margin-top 0.2s ease-in;
    overflow: hidden;
    zoom: 1;
}

.ios .citylist_wrap {
    margin-top: 68px;
}

.newcity .citylist_wrap {
    margin-top: 91px;
}

.ios.newcity .citylist_wrap {
    margin-top: 111px;
}


/*.ios .citylist_wrap{background: #fff; max-height: 400px; overflow-y:scroll;}*/

div.citylistTitle {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #f8f8f8;
    border-bottom: 1px #9a9997 solid;
    text-align: center;
    font-size: 18px;
}

div.citylistTitle .back_btn {
    position: absolute;
    height: 18px;
    width: 10px;
    background: url(../img/back_btn.png) no-repeat;
    background-size: 10px 18px;
    top: 14px;
    left: 15px;
}

ul.citylist {
    padding-left: 12px;
    background: #fff;
}

ul.citylist li {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border-bottom: 1px #ddd solid;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

ul.citylist li:last-child {
    border: 0;
}


/*ul.citylist li.active{background: #f8f8f8;}*/

ul.citylist li a {
    display: block;
    text-decoration: none;
    color: #000;
}

ul.citylist li a:active {
    background: #f8f8f8;
}

.searchpage {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    z-index: 50;
    background: #fff;
    overflow: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.android .searchpage {
    position: relative;
}

.search_wrap {
    padding: 0 8px 0 39px;
    margin-top: 8px;
}

.search_wrap .search_ipt {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 2px;
    border: 0;
    height: 32px;
    padding: 7px 10px 7px 32px;
    background: #fff url(../img/srh_icon.png) no-repeat;
    background-size: 16px 16px;
    background-position: 8px 8px;
    font-size: 14px;
    color: #333;
}

.search_ipt_body input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
}

.search_ipt_body input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
}

.search_ipt_body input:-ms-input-placeholder {
    color: #999999;
}

.search_ipt_body input::-webkit-input-placeholder {
    color: #999999;
}

.android .search_wrap .search_ipt {
    line-height: normal;
}


/*.search_wrap .search_ipt.route_placeholder{color: #c8c8c8;}*/

.searchlist_wrap {
    margin-top: 48px;
    /*padding:10px;*/
    background: #fff;
    overflow: hidden;
    zoom: 1;
}

.ios .searchlist_wrap {
    margin-top: 68px;
}

.newcity.ios .searchlist_wrap {
    margin-top: 111px;
}

.sug_err {
    text-align: center;
    margin-top: 20px;
}

.searchlist {
    border-radius: 2px;
    /*border:1px #ccc solid;*/
    padding-left: 17px;
    background: #fff;
}

.searchlist .st_item {
    /*line-height: 40px; */
    font-size: 14px;
    /*border-bottom: 1px #ccc solid;*/
    overflow: hidden;
    zoom: 1;
    background: url(../img/st_icon.png) no-repeat;
    background-size: 13px 14px;
    background-position: left center;
}

.st_item_wrap {
    margin-left: 25px;
    /*border-bottom: 1px #eaeaea solid;*/
    background: url(../img/srh_list_icon.png) right center no-repeat;
    background-size: 29px 14px;
    padding-bottom: 12px;
    position: relative;
}

.st_item_wrap:after {
	content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.searchlist li:last-child {
    border: 0;
}

.st_item .st_name {
    display: inline-block;
    font-size: 16px;
    /*height: 30px;line-height: 30px;*/
    margin: 7px 0;
    color: #333;
}

.st_item .st_name .match {
    color: #4287ff;
    font-weight: normal;
}

.st_item .st_rfline {
    /*float: right;*/
    overflow: hidden;
    zoom: 1;
    /*margin-bottom: 12px;*/
}

.st_rfline .rfline {
    display: inline-block;
    margin-right: 5px;
    min-width: 20px;
    border-radius: 2px;
    /*padding: 2px 6px 0;*/
    padding:2px 5px 0;
    color: #fff;
    font-size: 11px;
    text-align: center;
    height: 14px;
    line-height: 14px;
}

.tip_route .route_btn {
    height: 40px;
    line-height: 40px;
    padding-left: 22px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tip-near.tip-t {
    width: 100px;
    height: 42px;
    position: absolute;
    left: -50px;
    bottom: 0;
    overflow: hidden;
    z-index: 10;
}

.loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 100;
}

.loading-bg .loading-outer {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-bg .loading {
    width: 110px;
    position: absolute;
    left: -55px;
    top: -30px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.loading-bg .loading .loading-img-wrap {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.loading-bg .loading .loading-img-wrap img {
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: play 1s linear infinite;
    -moz-animation: play 1s linear infinite;
    animation: play 1s linear infinite;
}

@-webkit-keyframes play {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes play {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.step_arrow {
    display: inline-block;
    height: 18px;
    width: 11px;
    margin: 0 10px;
    background: url(../img/steparrow.png) no-repeat center center;
    background-size: 11px 6px;
    vertical-align: middle;
}

.dot {
    display: inline-block;
    height: 3px;
    width: 3px;
    padding: 0 8px;
    background: url(../img/dot.png) no-repeat center center;
    background-size: 3px 3px;
    vertical-align: middle;
}

.subway_near_circle,
.subway_detail_circle {
    width: 30px;
    height: 30px;
    fill: rgb(66, 135, 255);
    fill-opacity: 0.4;
    stroke-width: 0;
}

#dltip {
    display: none;
    position: fixed;
    left: 0;
    background: #F5F9A6;
    color: #2b2b2b;
    padding: 0.6em 0.7em;
    width: 100%;
    z-index: 999999;
}

.android #dltip {
    top: 45px;
}


/*.android.newcity #dltip{
	top: 85px;
}*/

.ios #dltip {
    top: 65px;
}


/*.ios.newcity #dltip{
	top: 105px;
}*/

#ndtip,
#errtip {
    display: none;
    position: fixed;
    bottom: 20%;
    left: 50%;
    background: #000;
    line-height: 30px;
    opacity: 0.8;
    z-index: 9999;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    color: #FFF;
    font-size: 14px;
    box-shadow: 3px 3px 1px #888;
}

#cltip {
    display: none;
    position: fixed;
    left: 0;
    top: 45px;
    background: rgba(42, 131, 255, 1);
    color: #fff;
    width: 100%;
    height: 44px;
    line-height: 44px;
    z-index: 999999;
}

.ios #cltip {
    top: 65px;
}

#cltip #curcity {
    padding-left: 12px;
}

#logger {
    display: none;
    width: 300px;
    height: 150px;
    position: absolute;
    color: #fff;
    background: rgba(0,0,0,0.6);
    left: 20px;
    top: 80px;
    z-index: 9999;
}

#logger p {
    line-height: 1;
    margin: 0;
}

