<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>region_lefttop</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>4</integer>
			<key>yoffset</key>
			<integer>0</integer>
			<key>space</key>
			<integer>0</integer>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<key>tips</key>
		<array>
			<dict>
				<key>bindviewname</key>
				<string>LayoutMainMapCompass</string>
				<key>styletype</key>
				<integer>301</integer>
				<key>message</key>
				<string>点击切换视角</string>
				<key>parentview</key>
				<integer>0</integer>
				<key>userkey</key>
				<string>kCompassTipKey</string>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapMessageBox</string>
				<key>normalimage</key>
				<string>icon_c27_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_d_normal</string>
				<key>acceslabel</key>
				<string>消息</string>
				<key>size</key>
				<string>{52,52}</string>
				<key>styletype</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapActivity</string>
				<key>size</key>
				<string>{40,60}</string>
				<key>styletype</key>
				<integer>11</integer>
				<key>offset</key>
				<integer>-15</integer>
				<key>below</key>
				<string>LayoutMainMapMessageBox</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapCompass</string>
				<key>normalimage</key>
				<string>icon_c22_normal</string>
				<key>size</key>
				<string>{36,36}</string>
				<key>styletype</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>region_centertop</key>
	<dict/>
	<key>region_righttop</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>4</integer>
			<key>yoffset</key>
			<integer>0</integer>
			<key>space</key>
			<integer>0</integer>
		</dict>
		<key>tips</key>
		<array>
			<dict>
				<key>bindviewname</key>
				<string>LayoutMainMapCommute</string>
				<key>styletype</key>
				<integer>301</integer>
				<key>message</key>
				<string>上下班路况异常早知道</string>
				<key>parentview</key>
				<integer>0</integer>
				<key>userkey</key>
				<string>kCommuteTipKey</string>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapMainLayer</string>
				<key>normalimage</key>
				<string>icon_c2_normal</string>
				<key>selectimage</key>
				<string></string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>acceslabel</key>
				<string>图层</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapTraffic</string>
				<key>normalimage</key>
				<string>icon_c4_selected</string>
				<key>selectimage</key>
				<string>icon_c4_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>norrepimage</key>
				<string>icon_c4_normal</string>
				<key>acceslabel</key>
				<string>路况</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapFeedback</string>
				<key>normalimage</key>
				<string>icon_c23_normal</string>
				<key>selectimage</key>
				<string></string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>acceslabel</key>
				<string>上报</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapSearchOnce</string>
				<key>normalimage</key>
				<string>generalsearch_onceback</string>
				<key>selectimage</key>
				<string></string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>acceslabel</key>
				<string>清空</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapReportError</string>
				<key>normalimage</key>
				<string>icon_c18_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>acceslabel</key>
				<string>报错</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
		</array>
	</dict>
	<key>region_leftcenter</key>
	<dict/>
	<key>region_rightcenter</key>
	<dict/>
	<key>region_rightbottom</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>4</integer>
			<key>yoffset</key>
			<integer>0</integer>
			<key>space</key>
			<integer>0</integer>
		</dict>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapUserPhoto</string>
				<key>normalimage</key>
				<string>icon_c28_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_d_normal</string>
				<key>size</key>
				<string>{52,52}</string>
				<key>styletype</key>
				<integer>9</integer>
				<key>acceslabel</key>
				<string>我的</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapZoomOut</string>
				<key>normalimage</key>
				<string>icon_c6_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_down_normal</string>
				<key>norrepimage</key>
				<string>newmain_zoombtn_zoomout_disable</string>
				<key>acceslabel</key>
				<string>缩小</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapZoomIn</string>
				<key>normalimage</key>
				<string>icon_c5_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_up_normal</string>
				<key>norrepimage</key>
				<string>newmain_zoombtn_zoomIn_disable</string>
				<key>acceslabel</key>
				<string>放大</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
		</array>
	</dict>
	<key>region_centerbottom</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>0</integer>
			<key>yoffset</key>
			<integer>-5</integer>
			<key>space</key>
			<integer>0</integer>
		</dict>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapRoute</string>
				<key>normalimage</key>
				<string>newmain_icon_route</string>
				<key>highlightimage</key>
				<string>newmain_icon_route_highlight</string>
				<key>bgimage</key>
				<string>newmain_icon_route_bg</string>
				<key>size</key>
				<string>{110,61}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
		</array>
	</dict>
	<key>region_leftbottom</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>5</integer>
			<key>yoffset</key>
			<integer>0</integer>
		</dict>
		<key>tips</key>
		<array>
			<dict>
				<key>bindviewname</key>
				<string>LayoutMainMapIndoorguide</string>
				<key>styletype</key>
				<integer>301</integer>
				<key>message</key>
				<string>可查看室内商场更多信息</string>
				<key>parentview</key>
				<integer>0</integer>
				<key>userkey</key>
				<string>kGuideViewType</string>
			</dict>
			<dict>
				<key>bindviewname</key>
				<string>LayoutMainMapFloor</string>
				<key>styletype</key>
				<integer>301</integer>
				<key>message</key>
				<string>选择楼层，</string>
				<key>submsg</key>
				<string>上下滑动试试。</string>
				<key>parentview</key>
				<integer>0</integer>
				<key>userkey</key>
				<string>kFloorTipKey</string>
			</dict>
			<dict>
				<key>bindviewname</key>
				<string>LayoutMainMapRemotecontrol</string>
				<key>styletype</key>
				<integer>301</integer>
				<key>message</key>
				<string>         下次点这儿</string>
				<key>submsg</key>
				<string> 快速进入车机互联页面</string>
				<key>parentview</key>
				<integer>0</integer>
				<key>userkey</key>
				<string>kRemoteControlTipKey</string>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapLocation</string>
				<key>bgimage</key>
				<string>icon_c_bg_d_normal</string>
				<key>norrepimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>size</key>
				<string>{52,52}</string>
				<key>styletype</key>
				<integer>5</integer>
				<key>acceslabel</key>
				<string>定位</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapFloor</string>
				<key>size</key>
				<string>{40,44}</string>
				<key>styletype</key>
				<integer>2</integer>
				<key>acceslabel</key>
				<string>floorSwitch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapVoiceguide</string>
				<key>normalimage</key>
				<string>icon_c31_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapScenic</string>
				<key>size</key>
				<string>{40,59}</string>
				<key>styletype</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapRemotecontrol</string>
				<key>normalimage</key>
				<string>icon_c21_normal</string>
				<key>bgimage</key>
				<string>icon_c_bg_single_normal</string>
				<key>acceslabel</key>
				<string>遥控器</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapIndoorguide</string>
				<key>normalimage</key>
				<string>newmain_indoorguide_normal</string>
				<key>acceslabel</key>
				<string>导览</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
			<dict>
				<key>name</key>
				<string>LayoutMainMapStationguide</string>
				<key>normalimage</key>
				<string>newmain_trainstationguide_normal</string>
				<key>size</key>
				<string>{44,44}</string>
				<key>styletype</key>
				<real>0</real>
			</dict>
		</array>
	</dict>
	<key>region_basetop</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>4</integer>
			<key>yoffset</key>
			<integer>0</integer>
		</dict>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapSearchBar</string>
				<key>size</key>
				<string>{0,57}</string>
				<key>styletype</key>
				<integer>6</integer>
				<key>iscomponent</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>region_basebottom</key>
	<dict>
		<key>config</key>
		<dict>
			<key>xoffset</key>
			<integer>0</integer>
			<key>yoffset</key>
			<integer>0</integer>
		</dict>
		<key>views</key>
		<array>
			<dict>
				<key>name</key>
				<string>LayoutMainMapFeedToolBar</string>
				<key>size</key>
				<string>{0,51.9}</string>
				<key>styletype</key>
				<integer>7</integer>
				<key>iscomponent</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>common_config</key>
	<dict>
		<key>xoffset</key>
		<integer>4</integer>
		<key>yoffset</key>
		<integer>0</integer>
		<key>space</key>
		<integer>0</integer>
		<key>regionCollisionStyle</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
