<?xml version="1.0" encoding="UTF-8"?>

<!--媒体平台相关配置-->
<config xsi:noNamespaceSchemaLocation="SDKSchema.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <!--缓存队列设置-->
    <offlineCache>
        <!--建议 length * timeout <=iteration -->
        <!--queue长度，>=lengthValue立刻提交-->
        <length>0</length>
        <!-- 每次读取存储url的Sharedpreferenced的间隔时间 -->
        <queueExpirationSecs>300</queueExpirationSecs>
        <!--发送超时时间-->
        <timeout>60</timeout>
    </offlineCache>
    
    <companies>
        <company>
            <name>admaster</name>
            <encryptType>0</encryptType>
            <domain>
                <!-- 此处需修改为 sdkconfig.xml在服务器上的地址的部分：
                 例如：http://admaster.mobi/sdkconfig.xml ，截取//后面部分和/前面部分-->
                <url>admaster.com.cn</url>
            </domain>
            <!--签名功能包所用的参数，如未设置，不使用签名功能-->
            <signature>
                <publicKey>Z83476Hel</publicKey>
                <paramKey>sign</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <!-- 失效时间，单位秒 -->
                <offlineCacheExpiration>172800</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <!--argument的必选和常用可选参数 key需确定-->
                    <!--必选函数-->
                    <argument>
                        <key>OS</key>
                        <value>0a</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>TS</key>
                        <value>t</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MAC</key>
                        <value>n</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFA</key>
                        <value>z</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>IMEI</key>
                        <value>0c</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>0d</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>WIFI</key>
                        <value>w</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>AKEY</key>
                        <value>x</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>ANAME</key>
                        <value>y</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <!--可选函数-->
                    <argument>
                        <key>SCWH</key>
                        <value>0f</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>OPENUDID</key>
                        <value>o</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ODIN</key>
                        <value>0g</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>TERM</key>
                        <value>r</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>OSVS</key>
                        <value>q</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    
                    <argument>
                        <key>LBS</key>
                        <value>l</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>0h</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUDS</key>
                        <value>0i</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>REDIRECTURL</key>
                        <value>u</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <!--<name>m1</name>-->
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <!--<name>e1</name>-->
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>,</separator>
            <!--<separator>&amp;</separator>-->
            <equalizer></equalizer>
            <!--如果设置true   timeStamper使用秒-->
            <timeStampUseSecond>true</timeStampUseSecond>
        </company>
        
        <!--其他检测公司配置-->
        <!--<company>-->
        <!--<name>miaozhen</name>-->
        <!--.....-->
        <!--</company>-->
        <company>
            <name>miaoz</name>
            <encryptType>0</encryptType>
            <domain>
                <url>miaoz.com.cn</url>
            </domain>
            <!--签名功能包所用的参数，如未设置，不使用签名功能-->
            <signature>
                <publicKey>Z83476Hel</publicKey>
                <paramKey>sign</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>172800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <!--argument的必选和常用可选参数 key需确定-->
                    <!--必选函数-->
                    <argument>
                        <key>OS</key>
                        <value>os</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>t</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MAC</key>
                        <value>n</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFA</key>
                        <value>q</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IMEI</key>
                        <value>imei</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>aid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TERM</key>
                        <value>r</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>WIFI</key>
                        <value>w</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>AKEY</key>
                        <value>x</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANAME</key>
                        <value>y</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <!--可选函数-->
                    <argument>
                        <key>SCWH</key>
                        <value>scwh</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>OPENUDID</key>
                        <value>o</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>ODIN</key>
                        <value>odin</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>OSVS</key>
                        <value>q</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>LBS</key>
                        <value>l</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <!--<name>m1</name>-->
                        <key>start</key>
                        <value>201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <!--<name>e1</name>-->
                        <key>end</key>
                        <value>203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <!--<separator>&amp;</separator>-->
            <equalizer>=</equalizer>
        </company>
        
        <!-- 秒针正式环境 -->
        <company>
            <name>miaozhen</name>
            <encryptType>0</encryptType>
            <domain>
                <url>.miaozhen.com</url>
            </domain>
            <signature>
                <publicKey>DbXiUlEVN</publicKey>
                <paramKey>mf</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>172800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>mo</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>mt</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MAC</key>
                        <value>m7</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFA</key>
                        <value>m5</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IMEI</key>
                        <value>m3</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>m1</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TERM</key>
                        <value>md</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>WIFI</key>
                        <value>mk</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>AKEY</key>
                        <value>mp</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANAME</key>
                        <value>mn</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>SCWH</key>
                        <value>mh</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>OPENUDID</key>
                        <value>m0</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>OSVS</key>
                        <value>me</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>LBS</key>
                        <value>mm</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>mb=start</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>mb=end</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>true</timeStampUseSecond>
        </company>
        
        <!-- Nielsen公司配置 -->
        <company>
            <name>nielsen</name>
            <encryptType>0</encryptType>
            <domain>
                <url>s.cr-nielsen.com</url>
            </domain>
            <!-- 签名功能包所用的参数，如未设置，不使用签名功能 -->
            <signature>
                <publicKey></publicKey>
                <paramKey>pk</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>604800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <!-- argument的必选和常用可选参数 key需确定 -->
                    <!-- 必选函数 -->
                    <argument>
                        <key>OS</key>
                        <value>os</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>ts</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MAC</key>
                        <value>mac</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IDFA</key>
                        <value>idfa</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>IMEI</key>
                        <value>imei</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANDROIDID</key>
                        <value>m1</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>WIFI</key>
                        <value>wifi</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>AKEY</key>
                        <value>akey</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ANAME</key>
                        <value>aname</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <!-- 可选函数 -->
                    <argument>
                        <key>SCWH</key>
                        <value>scwh</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>OPENUDID</key>
                        <value>m0</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>DUID</key>
                        <value>duid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>ODIN</key>
                        <value>odin</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>TERM</key>
                        <value>term</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>OSVS</key>
                        <value>osvs</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>LBS</key>
                        <value>lbs</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>MUDS</key>
                        <value>muds</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <!-- <name>m1</name> -->
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <!-- <name>e1</name> -->
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <!-- 如果设置true   timeStamper使用秒 -->
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
    </companies>
</config>
