<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>protocol</key>
			<string>com.hsae.link</string>
		</dict>
		<dict>
			<key>xxx</key>
			<string>XXX</string>
		</dict>
		<array>
			<dict>
				<key>TimeSeriesScrrenSize</key>
				<string>1</string>
			</dict>
		</array>
	</array>
	<array>
		<dict>
			<key>protocol</key>
			<string>xxx.xxx.xxx</string>
		</dict>
		<dict>
			<key>vehicleDeviceName</key>
			<string>Cadillac</string>
		</dict>
		<array>
			<dict>
				<key>TimeSeriesScrrenSize</key>
				<string>1</string>
			</dict>
		</array>
	</array>
</array>
</plist>
