<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenFavoritePointClicked</key>
	<string>last</string>
	<key>forbiddenGPSClicked</key>
	<string>last-false</string>
	<key>forbiddenMapLongPressed</key>
	<string>false</string>
	<key>forbiddenMapPointClicked</key>
	<string>false</string>
	<key>forbiddenShowCityScenicSwitchBtn</key>
	<string>false</string>
	<key>forbiddenShowFavorLayer</key>
	<string>last</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>false</string>
	<key>forbiddenShowInteractionLayer</key>
	<string>last</string>
	<key>forbiddenShowLayersBtn</key>
	<string>last</string>
	<key>forbiddenShowMainLayerFavor</key>
	<string>last</string>
	<key>forbiddenShowMainLayerInteraction</key>
	<string>last</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>last</string>
	<key>needStopNMLayers</key>
	<string>last</string>
</dict>
</plist>
