<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenShowCompass</key>
	<string>last</string>
	<key>forbiddenShowGPSOverlay</key>
	<string>last</string>
	<key>forbiddenShowMainLayer</key>
	<string>last</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>last</string>
	<key>forbiddenShowBaocuoButton</key>
	<string>last-true</string>
</dict>
</plist>
