<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenFavoritePointClicked</key>
	<string>true</string>
	<key>forbiddenInteractionPointClicked</key>
	<string>true</string>
	<key>forbiddenLayerPointHighlight</key>
	<string>true</string>
	<key>forbiddenMapLongPressed</key>
	<string>true</string>
	<key>forbiddenMapPointClicked</key>
	<string>true</string>
	<key>forbiddenShowCompass</key>
	<string>false</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>true</string>
	<key>forbiddenShowLayersBtn</key>
	<string>true</string>
	<key>forbiddenShowMainLayer</key>
	<string>true</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>true</string>
	<key>forbiddenSingleTap</key>
	<string>true</string>
	<key>needStopNMLayers</key>
	<string>true</string>
</dict>
</plist>
