<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbidenShowMapviewScaleLine</key>
	<string>custom</string>
	<key>forbiddenGPSClicked</key>
	<string>false</string>
	<key>forbiddenMapLongPressed</key>
	<string>false</string>
	<key>forbiddenMapPointClicked</key>
	<string>false</string>
	<key>forbiddenMessageBoxButton</key>
	<string>false</string>
	<key>forbiddenScreenShotsShare</key>
	<string>false</string>
	<key>forbiddenSkinLayer</key>
	<string>false</string>
	<key>forbiddenSmartScenic</key>
	<string>false</string>
	<key>forbiddenBottomViewShown</key>
	<string>custom</string>
	<key>forbiddenAll3DArea</key>
	<string>false</string>
</dict>
</plist>
