<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

 <key>com.tencent.rdm.uuid</key>
<string>3777e862-6900-4599-a84c-a762cb7c3d9d</string>
	<key>3g_mp4_by_server_strategy</key>
	<false/>
	<key>ATSStartP2pPlayEnable</key>
	<true/>
	<key>ATSp2pPlayInDomainPlayerUrlEnable</key>
	<true/>
	<key>AirPlayMPAVRoutingSheet</key>
	<string>MPAVRoutingSheet</string>
	<key>AirPlayMPAVRoutingSheetSearchInterval</key>
	<real>0.2</real>
	<key>AirPlayMenuWindowName</key>
	<string>_MPAVRoutingSheetSecureWindow</string>
	<key>AirPlaySkipAdViaState</key>
	<true/>
	<key>AppOutCallPlayHistoryFirst</key>
	<true/>
	<key>AppShouldOpenH5PayWhenIAPFailed</key>
	<false/>
	<key>AppSuportWxEntry</key>
	<false/>
	<key>AppSupportReportUpWnd</key>
	<false/>
	<key>AppSupportUpdateNotification</key>
	<false/>
	<key>BackAdvertisementEnable</key>
	<true/>
	<key>BackAdvertisementRequestDuration</key>
	<integer>3</integer>
	<key>BanabaCommentContentMaxCount</key>
	<integer>25</integer>
	<key>BanabaEnable</key>
	<true/>
	<key>BanabaLogFilterList</key>
	<array>
		<string>289138572</string>
		<string>328120716</string>
		<string>3182006637</string>
		<string>306031187</string>
		<string>610158639</string>
		<string>2809777101</string>
	</array>
	<key>BanabaSetAnimateTimeInterval</key>
	<integer>8</integer>
	<key>BanabaSetChannelMarginWithChannel</key>
	<integer>0</integer>
	<key>BanabaSetChannelMarginWithTop</key>
	<integer>0</integer>
	<key>BanabaSetDeltaMaxTimeInterval</key>
	<integer>3</integer>
	<key>BanabaSetDeltaMinTimeInterval</key>
	<integer>2</integer>
	<key>BanabaSetFontSize</key>
	<integer>18</integer>
	<key>BanabaSetHotUpCount</key>
	<integer>5</integer>
	<key>BanabaSetIsTouch</key>
	<true/>
	<key>BanabaSetItemMinimunMarginWithNextItem</key>
	<integer>8</integer>
	<key>BanabaSetLabelSize</key>
	<dict>
		<key>HEIGHT</key>
		<string>30</string>
		<key>WIDTH</key>
		<string>10</string>
	</dict>
	<key>BanabaSetOnceRequestMessageCount</key>
	<integer>300</integer>
	<key>BanabaSetRowOfChannelCount</key>
	<integer>3</integer>
	<key>BanabaSetRowOfSpacerChannelCount</key>
	<integer>0</integer>
	<key>BatteryLowDelay</key>
	<integer>3</integer>
	<key>BoardLiveDetailInvalidateAge</key>
	<integer>30</integer>
	<key>BubbleDanMuAlphaValue</key>
	<real>0.6</real>
	<key>BullBoardAutoPlayNextVideoInterval</key>
	<integer>2</integer>
	<key>CGITimeoutArray</key>
	<array>
		<string>15</string>
		<string>15</string>
		<string>30</string>
		<string>15</string>
		<string>15</string>
	</array>
	<key>CacheJusterDuration</key>
	<real>0.8</real>
	<key>CacheListiPadTipsText</key>
	<string>腾讯视频iPad版，限时免费加速下载</string>
	<key>CellShowupCacheReportDelay</key>
	<real>0.5</real>
	<key>ChatRoomDefaultNextMsgReqTime</key>
	<integer>15</integer>
	<key>ChatRoomVPlayShouldMutePlayer</key>
	<false/>
	<key>ClarityVipResolutionTipsMaxCount</key>
	<integer>1</integer>
	<key>ClarityiPadTipsText</key>
	<string>腾讯视频iPad版，可免费享1080P</string>
	<key>ConfigThrowInvalidObjectException</key>
	<false/>
	<key>CoverIdP2PPlayFilteList</key>
	<array/>
	<key>CoverVidLength</key>
	<integer>15</integer>
	<key>DLNAConcurrentSearchInterval</key>
	<integer>1</integer>
	<key>DLNAConcurrentSearchTimes</key>
	<integer>5</integer>
	<key>DLNADropDownTryCount</key>
	<integer>8</integer>
	<key>DLNARetryPlayCountAfterSetAvUrl</key>
	<integer>1</integer>
	<key>DaysIntervalShareForTimeline</key>
	<integer>7</integer>
	<key>DbMyPropertyOpen</key>
	<true/>
	<key>DbVisitorOpen</key>
	<false/>
	<key>DisableAdsTypeFilterList</key>
	<array/>
	<key>DlnaClarityTipsShowTimeInterval</key>
	<integer>10</integer>
	<key>DlnaClarityTipsShowTimes</key>
	<integer>2</integer>
	<key>DlnaDefaultVideoCid</key>
	<string>1bnyfttijufe0cq</string>
	<key>DlnaDefaultVideoVid</key>
	<string>m0016nwmqws</string>
	<key>DlnaFastPlayGiveTipsTimes</key>
	<integer>3</integer>
	<key>DlnaFastPlayTipsShowTime</key>
	<integer>10</integer>
	<key>DlnaHidenControllerViewTime</key>
	<integer>3</integer>
	<key>DlnaHlsDeviceList</key>
	<dict>
		<key>*_*_Hisense</key>
		<integer>2</integer>
		<key>*_*_Skyworth</key>
		<integer>2</integer>
		<key>*_*_SkyworthSRI</key>
		<integer>2</integer>
		<key>*_AllShare1.0_Samsung Electronics</key>
		<integer>2</integer>
		<key>*_MINT1.7.0.1_Sony Corporation</key>
		<integer>2</integer>
		<key>100TV Media Render_1.0_100TV</key>
		<integer>2</integer>
		<key>Auto-generated device_*_Intel Labs</key>
		<integer>2</integer>
		<key>BCM7405_*_TOPWAY</key>
		<integer>2</integer>
		<key>Hisilicon MediaRenderer_*_*</key>
		<integer>1</integer>
		<key>Smart TV_*_ChangHong Electronics</key>
		<integer>2</integer>
		<key>TCL Media Render_*_TCL</key>
		<integer>2</integer>
		<key>Xbox One_*_Microsoft Corporation</key>
		<integer>2</integer>
		<key>YunTVPlayer_1.0_www.yunos.com</key>
		<integer>1</integer>
		<key>mikan_tv_*_*</key>
		<integer>2</integer>
	</dict>
	<key>DlnaHomeIntroEnable</key>
	<false/>
	<key>DlnaKeepAliveOnBackground</key>
	<true/>
	<key>DlnaLowestDefautClarity</key>
	<string>hd</string>
	<key>DlnaNewAddressChangeEnable</key>
	<true/>
	<key>DlnaNewFunctionShowTimes</key>
	<integer>1</integer>
	<key>DlnaUseMp4Only</key>
	<false/>
	<key>DlnaValidPlayTime</key>
	<integer>8</integer>
	<key>DlnaWebViewHeight</key>
	<integer>4</integer>
	<key>DownloadAndPlayEnable</key>
	<true/>
	<key>DownloadConfig3GTimeout</key>
	<integer>30</integer>
	<key>DownloadConfigCDNStrategyEnabled</key>
	<true/>
	<key>DownloadConfigGetVInfoEnabled</key>
	<true/>
	<key>DownloadConfigGetVKeyEnabled</key>
	<true/>
	<key>DownloadConfigGettingDataRetryCount</key>
	<integer>5</integer>
	<key>DownloadConfigGettingInfoRetryCount</key>
	<integer>3</integer>
	<key>DownloadConfigIgnoreDataVerifingFailure</key>
	<true/>
	<key>DownloadConfigWifiTimeout</key>
	<integer>30</integer>
	<key>DownloadPushNotificationSwitch</key>
	<true/>
	<key>DownloadPushScheduleFromTime</key>
	<integer>0</integer>
	<key>DownloadPushScheduleToTime</key>
	<integer>570</integer>
	<key>DownloadSpeedLimit</key>
	<array/>
	<key>DownloadVideoSizeEnable</key>
	<true/>
	<key>DownloadVideoSizeRequestNumber</key>
	<integer>10</integer>
	<key>EnableAllAdvertisement</key>
	<true/>
	<key>EnableCacheListiPadTips</key>
	<false/>
	<key>EnableChatRoom</key>
	<false/>
	<key>EnableClarityiPadTips</key>
	<true/>
	<key>EnableHollyWoodP2PDownload</key>
	<true/>
	<key>EnableHomeAttention</key>
	<true/>
	<key>EnableJSDeadLinkReport</key>
	<true/>
	<key>EnableOfflinePlayClarity</key>
	<true/>
	<key>EnableP2PDownload</key>
	<true/>
	<key>EnableP2PLiveHLS</key>
	<false/>
	<key>EnableP2PPlay</key>
	<false/>
	<key>EnableP2PPlayFilteList</key>
	<false/>
	<key>EnablePlayerLowSpaceTips</key>
	<true/>
	<key>EnablePlayerPlayNextTips</key>
	<true/>
	<key>EnablePlayerPreviewPoster</key>
	<true/>
	<key>EnableQQPlayer</key>
	<false/>
	<key>liveStream</key>
	<integer>2</integer>
	<key>EnableResourceLoader</key>
	<true/>
	<key>EnableSingleClipVideoPlayDirectly</key>
	<true/>
	<key>FileConvertAutoRun</key>
	<false/>
	<key>FileConvertValidDays</key>
	<integer>30</integer>
	<key>FreeModeBackGroundDownloadEnable</key>
	<true/>
	<key>HollyWoodScrollPlayViewAutoScrollInterval</key>
	<real>5</real>
	<key>HollywoodCutVideo</key>
	<true/>
	<key>HollywoodGiftButtonAnimationShowInterval</key>
	<real>9998</real>
	<key>HollywoodJumpAdsCleanIntervalForLive</key>
	<integer>24</integer>
	<key>HollywoodJumpAdsDurationTime</key>
	<integer>10</integer>
	<key>HollywoodJumpAdsMaxLocalFile</key>
	<integer>1000</integer>
	<key>HollywoodJumpAdsShowInterval</key>
	<integer>168</integer>
	<key>HollywoodJumpAdsTipsArray</key>
	<array>
		<string>VIP好福利，45秒广告直接跳过啦！</string>
		<string>VIP人生大赢家啊，45秒广告直接跳过！</string>
		<string>VIP任性，跳过广告60秒啦！</string>
		<string>有一种幸福，叫VIP免广告！</string>
		<string>有一种任性，叫VIP免广告！</string>
	</array>
	<key>HollywoodJumpAdsTipsArrayForLive</key>
	<array>
		<string>VIP尊享免广告、免排队极速播放</string>
	</array>
	<key>HollywoodJumpAdsTipsLiveTypeArray</key>
	<array>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>9996</string>
		<string>99</string>
	</array>
	<key>HollywoodLevelUpH5</key>
	<string>http://dev.film.qq.com/weixin/user_share.html</string>
	<key>HomeFocusImageColorEnabled</key>
	<true/>
	<key>HomeGalleryPosterInterval</key>
	<real>5</real>
	<key>HuaNaNotAdsSkippedIDsArray</key>
	<array/>
	<key>HuaTuoUrl</key>
	<string>http://utp.qq.com/ht.php?uin=11223344123</string>
	<key>IAPPayAccountsWarnningEnabled</key>
	<false/>
	<key>IgnoreServerDefaultImage</key>
	<true/>
	<key>ImageRequest3GTimeout</key>
	<integer>30</integer>
	<key>ImageRequestWifiTimeout</key>
	<integer>30</integer>
	<key>InteractiveVoteEnabled</key>
	<true/>
	<key>InteractiveVoteShowSwitchEnabled</key>
	<false/>
	<key>IsMiniVideoOpen</key>
	<true/>
	<key>JumperScriptConfig</key>
	<dict/>
	<key>KMomentAutoGetUnreadTimeInterval</key>
	<integer>60</integer>
	<key>Live3ChatRoomFakeFeedsTimeAjustMax</key>
	<real>0.1</real>
	<key>Live3CommentContentMaxCount</key>
	<integer>200</integer>
	<key>LiveProgramVInfoEnabled</key>
	<true/>
	<key>LiveQueueEnable</key>
	<true/>
	<key>LiveV3ItemEffectH5MaxLoadDuration</key>
	<integer>6</integer>
	<key>LiveV3VoteTimeInterval</key>
	<integer>180</integer>
	<key>MUTCallbackReportSwitch</key>
	<false/>
	<key>MaxCuttingVideoTime</key>
	<integer>8</integer>
	<key>MaxReplayCountForPresentError</key>
	<integer>3</integer>
	<key>MaxRetryCountForCKeyError</key>
	<integer>10</integer>
	<key>MaxRetryCountForPreviewInfoError</key>
	<integer>1</integer>
	<key>MaxTipTimesForDifVideo</key>
	<integer>5</integer>
	<key>MaxTipTimesForPlayer</key>
	<integer>2</integer>
	<key>MaxTipTimesForScreenshot</key>
	<integer>3</integer>
	<key>MaxTipTimesForVideo</key>
	<integer>2</integer>
	<key>MediaPlayerReportTimeInterval</key>
	<integer>60</integer>
	<key>MinCuttingVideoTime</key>
	<integer>3</integer>
	<key>MiniVideoPreview_ShareEntries_Bob_Mask</key>
	<integer>1</integer>
	<key>MobileGameEnable</key>
	<false/>
	<key>MomentCommentContentMaxCount</key>
	<integer>1000</integer>
	<key>MomentDrawingTimes</key>
	<integer>5</integer>
	<key>MomentFailedTaskAutoRetrySecs</key>
	<integer>900</integer>
	<key>MomentFakeFeedsDeleteSecs</key>
	<integer>604800</integer>
	<key>MomentFeedSecondShareOpen</key>
	<false/>
	<key>MomentHotModuleMovieMaxCount</key>
	<integer>30</integer>
	<key>MomentPublishMaxCount</key>
	<integer>9</integer>
	<key>MomentPushGetUnreadComentMaxCount</key>
	<integer>8</integer>
	<key>MomentSecondsReqRetry</key>
	<integer>3</integer>
	<key>MomentSecondsUseDefaultPhoto</key>
	<integer>10</integer>
	<key>MomentShowTipsForNotifyMaxCount</key>
	<integer>5</integer>
	<key>MomentTextContentMaxCount</key>
	<integer>1000</integer>
	<key>MomentTextHeightCacheEnabled</key>
	<true/>
	<key>MomentTimelineRequestPublishMaxCount</key>
	<integer>5</integer>
	<key>MomentTimesTaskRetry</key>
	<integer>10</integer>
	<key>MomentUploadPhotoTimeout</key>
	<integer>300</integer>
	<key>Mp4PlayFailedRetryHlsMaxNums</key>
	<integer>1</integer>
	<key>MyPropertyH5PageEnabled</key>
	<false/>
	<key>MyWalletVcoinExchangeTipEnabled</key>
	<true/>
	<key>NetworkAccessControlDefaultIP</key>
	<string>163.177.56.110</string>
	<key>NetworkAccessControlDefaultIPV6</key>
	<string>ioma.qq.com</string>
	<key>NetworkAccessControlEnable</key>
	<true/>
	<key>NoLoginIAPPayWarnningLevel1Enabled</key>
	<false/>
	<key>OpenAppPushNotifyTimeInterval</key>
	<integer>2592000</integer>
	<key>OpenAppStore</key>
	<false/>
	<key>P2PCacheReportProbability</key>
	<integer>100</integer>
	<key>P2PHttpproxyConfig</key>
	<dict/>
	<key>P2PPlayFailedRetryOriginMaxNums</key>
	<integer>1</integer>
	<key>P2PPlayPeriod</key>
	<array/>
	<key>PPPSwitchEnable</key>
	<false/>
	<key>PRHomeListRequestDisperZone</key>
	<integer>100</integer>
	<key>PerformanceReportFrequency</key>
	<integer>3</integer>
	<key>PersonalRecomdHomeSaveCount</key>
	<integer>20</integer>
	<key>PersonalRecomdHomeShowCount</key>
	<integer>10</integer>
	<key>PlayInfoFlowReportTimeoutFor3G</key>
	<integer>45</integer>
	<key>PlayInfoFlowReportTimeoutForWifi</key>
	<integer>30</integer>
	<key>PlayInfoReportEnable</key>
	<false/>
	<key>PlayReportMaxCacheCount</key>
	<integer>100</integer>
	<key>PlayerRetryConnectFileMaxNums</key>
	<integer>5</integer>
	<key>PushStartIsShowSplash</key>
	<false/>
	<key>QLAPPCONF_JustTaBusinessEnabled</key>
	<true/>
	<key>QLAppIsInReviewingByApple</key>
	<true/>
	<key>QLAppJScriptCode</key>
	<string></string>
	<key>QLBackgroundUploadLogGuids</key>
	<array/>
	<key>QLBackgroundUploadLogQQs</key>
	<array/>
	<key>QLChannelToastViewFixed</key>
	<true/>
	<key>QLRightShareEntryMaskForGif</key>
	<integer>0</integer>
	<key>QLShareUpdateShareItemEnabled</key>
	<true/>
	<key>QLWebADBannerItemForOpenSource</key>
	<dict>
		<key>isShow</key>
		<true/>
		<key>iconUrl</key>
		<string>http://i.gtimg.cn/qqlive/images/20160614/i1465886315_1.jpg</string>
		<key>title</key>
		<string>进入QQ浏览器</string>
		<key>subTitle</key>
		<string>观看更多精彩视频</string>
		<key>jumpUrl</key>
		<string>https://itunes.apple.com/cn/app/id1059716058</string>
	</dict>
	<key>QQPlayerSetting</key>
	<dict>
		<key>BackUrlRetryTimes</key>
		<string>1</string>
		<key>MaxUrlRetryTimes</key>
		<string>2</string>
		<key>PrimaryUrlRetryTimes</key>
		<string>1</string>
		<key>adBackUrlRetryTimes</key>
		<string>0</string>
		<key>adMaxUrlRetryTimes</key>
		<string>0</string>
		<key>adPrimaryUrlRetryTimes</key>
		<string>0</string>
		<key>adTcpRetryTimeout</key>
		<string>5000</string>
		<key>adTcpRetryTimes</key>
		<string>1</string>
		<key>bufferTimeoutBelow1080</key>
		<string>25</string>
		<key>bufferTimeoutUp1080</key>
		<string>50</string>
		<key>endPosition</key>
		<string>0</string>
		<key>leastBufferSizeAfterSeek</key>
		<string>0</string>
		<key>maxBufferingWait</key>
		<string>8000</string>
		<key>minBufferingWait</key>
		<string>25</string>
		<key>packetBufferSize</key>
		<string>200</string>
		<key>preloadBufferSize</key>
		<string>25</string>
		<key>selfPlayerFlags</key>
		<string>1</string>
		<key>startPosition</key>
		<string>0</string>
		<key>tcpRetryTimeout</key>
		<string>25000</string>
		<key>tcpRetryTimes</key>
		<string>5</string>
		<key>useThreadCount</key>
		<string>2</string>
	</dict>
	<key>RedEnvelopePageURLAfterPayVip</key>
	<string></string>
	<key>RemotePlayExcludingPayed</key>
	<false/>
	<key>RemotePlayForbiddenCopyrightIDs</key>
	<array/>
	<key>SearchSupportVideoPay</key>
	<false/>
	<key>ServerDefaultImageRetryCount</key>
	<integer>1</integer>
	<key>ShareDefaultIconURL</key>
	<string>http://i.gtimg.cn/qqlive/images/20150413/i1428914692_1.jpg</string>
	<key>ShareToFantuanContentLowerBound</key>
	<integer>1</integer>
	<key>ShareToFantuanContentUpperBound</key>
	<integer>32</integer>
	<key>ShouldDownloadResourceFromServer</key>
	<false/>
	<key>ShouldOpenDownLoadTryAccelerate</key>
	<true/>
	<key>ShouldPlayAuthOffLineTask</key>
	<true/>
	<key>ShouldShowCinemaTicketEntry</key>
	<true/>
	<key>ShouldShowCloseButtonOnWebview</key>
	<true/>
	<key>ShouldShowHtmlFontLabelAttriForIntro</key>
	<false/>
	<key>ShowLongPressVideoBeginTipCount</key>
	<integer>1000000000</integer>
	<key>ShowLongPressVideoGuideTipCount</key>
	<integer>3</integer>
	<key>ShowLongPressVideoTipCount</key>
	<integer>3</integer>
	<key>Space_Tips_MB</key>
	<integer>100</integer>
	<key>SplashAdMaxDisplayDuration</key>
	<integer>8</integer>
	<key>SplashAllowClickDuration</key>
	<integer>0</integer>
	<key>SplashMinDisplayDuration</key>
	<integer>0</integer>
	<key>SplashMinDisplayNum</key>
	<integer>0</integer>
	<key>SplashUseAdvertisement</key>
	<true/>
	<key>StarBanabaStopingTime</key>
	<integer>3</integer>
	<key>StarThemeOpen</key>
	<true/>
	<key>StarThemeRefreshTimeInterval</key>
	<integer>1</integer>
	<key>StarThemeSlapshOpen</key>
	<false/>
	<key>StarThemeWatchTipInterVal</key>
	<integer>0</integer>
	<key>SupportDelayCache</key>
	<true/>
	<key>SupportFlashImageKey</key>
	<true/>
	<key>SupportHollywoodPayOnlyMovie</key>
	<false/>
	<key>SupportLoginUserInfoDoublewrite</key>
	<false/>
	<key>SupportMMAKey</key>
	<true/>
	<key>SupportMUTKey</key>
	<true/>
	<key>SyncShareToMomentAtomic</key>
	<true/>
	<key>SyncShareToOtherIconURL</key>
	<string>http://i.gtimg.cn/qqlive/images/20140907/i1410078602_1.jpg</string>
	<key>SyncShareToOtherImageURL</key>
	<string>http://i.gtimg.cn/qqlive/images/20140907/i1410085060_1.jpg</string>
	<key>TelecomCheckOrderSecret</key>
	<string>fdjnrRw3eoifenlfdniBflDd5fbmhglGkwib</string>
	<key>TelecomFreeClosed</key>
	<true/>
	<key>TelecomGetMoblieAppSecret</key>
	<string>ZxYVic1eduM3oS87zRq8IzcvZ2hGEFKP</string>
	<key>TelecomGetMoblieAppid</key>
	<string>8015488416</string>
	<key>TelecomOrderInvalidPeriodBeforeEndTime</key>
	<integer>10</integer>
	<key>TelecomPromptTimeBeforeOrderInvalid</key>
	<integer>10</integer>
	<key>TelecomTencentClosed</key>
	<false/>
	<key>TenvideoPriorityBids</key>
	<array>
		<string>16</string>
		<string>15</string>
	</array>
	<key>TextUrlParserExp</key>
	<string></string>
	<key>TimelongForAdsSkippedDirectly</key>
	<integer>0</integer>
	<key>TimerCenterIntervalRatioJSONString</key>
	<string>{&quot;type_0&quot;:&quot;5&quot;}</string>
	<key>TimerCenterTimeIntervalJSONString</key>
	<string>{&quot;type_0&quot;:&quot;300&quot;}</string>
	<key>TimerCenterTimeIntervalMix</key>
	<integer>1</integer>
	<key>TimesIntervalTipsForTimeline</key>
	<integer>86400</integer>
	<key>TimesTipsForTimeline</key>
	<integer>1</integer>
	<key>TipShareTimeForShortVideo</key>
	<integer>30</integer>
	<key>TipShareTimeInFullScreen</key>
	<integer>300</integer>
	<key>TryWatchSupportGuid</key>
	<false/>
	<key>URLSchemeOpenURLWhiteList</key>
	<array>
		<string>^https://[a-z0-9][-a-z0-9\.]{0,62}?\.qq\.com/.*</string>
		<string>^http://[a-z0-9][-a-z0-9\.]{0,62}?\.qq\.com/.*</string>
		<string>^file://.*</string>
	</array>
	<key>UnicomBackUrl</key>
	<string>http://v.qq.com/</string>
	<key>UnicomCancelCooperationClosed</key>
	<false/>
	<key>UnicomCancelCooperationUrl</key>
	<string>http://v.qq.com/</string>
	<key>UnicomCpid</key>
	<string>tencent</string>
	<key>UnicomFreeClosed</key>
	<false/>
	<key>UnicomH5Enable</key>
	<true/>
	<key>UnicomH5Key</key>
	<string>qqlivejscall</string>
	<key>UnicomNetKey</key>
	<string>tenc1234</string>
	<key>UnicomReGetNetNumberEnable</key>
	<true/>
	<key>UnicomReGetNetNumberErrorCode</key>
	<integer>-1100</integer>
	<key>UnicomReGetNetNumberMaxCount</key>
	<integer>3</integer>
	<key>UnicomSetCancelOrderInvalidPeriod</key>
	<integer>10</integer>
	<key>UnicomSetUpdateInfoDay</key>
	<integer>30</integer>
	<key>UnicomSetUserCenterUpdateInfoDay</key>
	<integer>1</integer>
	<key>UnicomSetupdateOrderPeriodInAppRunning</key>
	<integer>24</integer>
	<key>UnicomShowInHomeHour</key>
	<integer>72</integer>
	<key>UnicomShowInPlayerEnable</key>
	<false/>
	<key>UnicomTencentClosed</key>
	<true/>
	<key>UnicomUserCenterCancelOrderTips</key>
	<string>本月有效</string>
	<key>UnicomUserCenterNoOrderTips</key>
	<string>去订购</string>
	<key>UnicomUserCenterOrderTips</key>
	<string>已开通</string>
	<key>UnicomWebviewTimeOutPeriod</key>
	<integer>30</integer>
	<key>UrlCacheExpirationAge</key>
	<integer>900</integer>
	<key>UrlStartIsShowSplash</key>
	<false/>
	<key>UseWKPreferentially</key>
	<true/>
	<key>UserOldDLNALib</key>
	<false/>
	<key>VideoFeedAutoRotate</key>
	<true/>
	<key>VideoRefreshInitValue</key>
	<integer>-2</integer>
	<key>VideoRefreshPeriod</key>
	<integer>30</integer>
	<key>VideoRefreshRandomNumber</key>
	<integer>20</integer>
	<key>VideoTypeP2PPlayFilteList</key>
	<array/>
	<key>VipAnniversaryActivitySwitch</key>
	<false/>
	<key>VoteCryptKey</key>
	<string>sm$#H.&quot;1</string>
	<key>WKWebviewOpenURLBlackList</key>
	<array>
		<string>^https://[a-z0-9][-a-z0-9\.]{0,62}?\.youku\.com/.*</string>
		<string>^http://[a-z0-9][-a-z0-9\.]{0,62}?\.youku\.com/.*</string>
		<string>^https://[a-z0-9][-a-z0-9\.]{0,62}?\.qq\.com/.*</string>
		<string>^http://[a-z0-9][-a-z0-9\.]{0,62}?\.qq\.com/.*</string>
	</array>
	<key>WKWebviewOpenURLWhiteList</key>
	<array/>
	<key>WebAppUpgradeMinInterval</key>
	<integer>5</integer>
	<key>WebViewDownloadURLBlackList</key>
	<array>
		<string>qiyi-iphone://*</string>
		<string>youku://*</string>
		<string>letvclient://*</string>
		<string>tudou://*</string>
		<string>sohuvideo://*</string>
	</array>
	<key>WeekTimeoutArray</key>
	<array>
		<string>30</string>
		<string>30</string>
		<string>30</string>
		<string>30</string>
		<string>30</string>
	</array>
	<key>WeixinPresentShoppingEnable</key>
	<false/>
	<key>WifiManagerTipsSwitch</key>
	<false/>
	<key>advertisement_autoplay</key>
	<false/>
	<key>advertisement_max_cache_waiting_time</key>
	<integer>8</integer>
	<key>appExitSaveReportEnable</key>
	<true/>
	<key>appSchemeArray</key>
	<array>
		<string>ppstream://</string>
		<string>qiyi-iphone://</string>
		<string>youku://</string>
		<string>sohuvideo://</string>
		<string>sohuvideo-iphone:// </string>
		<string>com.baofeng.play://</string>
		<string>pptv://</string>
		<string>tudou://</string>
		<string>bdviphapp://</string>
		<string>baiduvideoiphone://</string>
		<string>bilibili://</string>
	</array>
	<key>atsAirplayRenderDisable</key>
	<true/>
	<key>atsIOS9OldDLNARenderEnable</key>
	<true/>
	<key>atsSelfStudyPlayerSupportAdsPlayEnable</key>
	<true/>
	<key>atsSelfStudyPlayerSupportHlsEnable</key>
	<true/>
	<key>batchPropsText</key>
	<array>
		<string>1</string>
		<string>9</string>
		<string>22</string>
		<string>99</string>
		<string>其他</string>
	</array>
	<key>cache_MaxCacheTime</key>
	<real>604800</real>
	<key>cache_eliminateMaxFileCount</key>
	<integer>200</integer>
	<key>cache_eliminateMinFileCount</key>
	<integer>50</integer>
	<key>cache_monitor_max_waiting_times</key>
	<integer>12</integer>
	<key>cdncode</key>
	<string>/18907E7BE0798990/</string>
	<key>cdncodeswitch</key>
	<true/>
	<key>ckey_subversion</key>
	<integer>3</integer>
	<key>ckey_version</key>
	<integer>5</integer>
	<key>confid</key>
	<integer>0</integer>
	<key>default_format_by_server_strategy</key>
	<true/>
	<key>delay_get_config_ms</key>
	<integer>1</integer>
	<key>dlnaLiveProgressInterval</key>
	<integer>5</integer>
	<key>enable_advertisement</key>
	<true/>
	<key>enable_cachingVideo_after_ad_LoadFinish</key>
	<true/>
	<key>error_tips_code_show</key>
	<integer>2</integer>
	<key>exclusiveTipsFromCopyright</key>
	<string>独播</string>
	<key>exclusiveTipsFromTencent</key>
	<string>腾讯出品</string>
	<key>fullScreenDataFromJsonEnable</key>
	<true/>
	<key>general_video_default_show_format</key>
	<string>sd</string>
	<key>hollywoodUnicomEnable</key>
	<true/>
	<key>hoollyWoodPlayP2PEnable</key>
	<false/>
	<key>httpKeepAlive</key>
	<false/>
	<key>iapLivePayHtml5Url</key>
	<string>https://film.qq.com/app/ipay.html</string>
	<key>iapPayHtml5Url</key>
	<string>https://film.qq.com/app/pay.html</string>
	<key>image_cache_pixel_count</key>
	<integer>70000000</integer>
	<key>ipUrlRegEx</key>
	<string>^([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])\.([01]?\d\d?|2[0-4]\d|25[0-5])$</string>
	<key>isConfigPacfile</key>
	<true/>
	<key>liveMediaListPreCacheCount</key>
	<integer>2</integer>
	<key>liveMediaListSupportPreCache</key>
	<true/>
	<key>loadImageScale</key>
	<integer>2</integer>
	<key>loadSlowTip_waitingTime</key>
	<integer>3</integer>
	<key>longLivePushSwitch</key>
	<integer>1</integer>
	<key>maxLoadImageHeight</key>
	<integer>2000</integer>
	<key>maxLoadImageWidth</key>
	<integer>1000</integer>
	<key>momentInviteFriendMessageType</key>
	<integer>0</integer>
	<key>momentInviteFriendUrl</key>
	<string>http://m.v.qq.com/d/download_wx.html?chid=515&amp;oUrl=tenvideo3://?action=14</string>
	<key>msgListPreloadInterval</key>
	<integer>5</integer>
	<key>msgPreLoadNodelayCount</key>
	<integer>3</integer>
	<key>offlineToOnlinePlayEnable</key>
	<true/>
	<key>openSourceMap</key>
	<dict>
		<key>www.iqiyi.com</key>
		<dict>
			<key>cnName</key>
			<string>爱奇艺</string>
			<key>jumpType</key>
			<string>0</string>
			<key>ua</key>
			<string>Mozilla/5.0 (iPhone; CPU iPhone OS 7_0_4 like Mac OS X) AppleWebKit/600.51.1 (KHTML,like Gecko) Mobile/11B554a MicroMessenger/5.2</string>
		</dict>
	</dict>
	<key>p2pRetryMaxCount</key>
	<integer>3</integer>
	<key>p2pUpdateDiskSpace</key>
	<integer>50</integer>
	<key>playErrorReportEnable</key>
	<true/>
	<key>playNextVideoDlnaInterval</key>
	<real>5</real>
	<key>playbackStuckChangeToSelfPlayerInfo</key>
	<dict>
		<key>cachePlayTimeInterval</key>
		<integer>-1</integer>
		<key>changeToSelfPlayerEnable</key>
		<integer>1</integer>
		<key>changeToSelfPlayerReportLogEnable</key>
		<integer>1</integer>
		<key>changeToSelfPlayerReportLogRandom</key>
		<integer>100</integer>
		<key>playbackInterval</key>
		<real>0.02</real>
		<key>playbackStuckInterval</key>
		<integer>10</integer>
	</dict>
	<key>playerLoadOptimizationEnable</key>
	<true/>
	<key>player_min_cache_time</key>
	<integer>3</integer>
	<key>prefixForShareContent</key>
	<string></string>
	<key>preloadNextVideoInterval</key>
	<integer>200</integer>
	<key>reportLog</key>
	<integer>1</integer>
	<key>reportLogConfig</key>
	<integer>1</integer>
	<key>resolution_list</key>
	<dict>
		<key>fhd</key>
		<dict>
			<key>fullname</key>
			<string>蓝光 1080P</string>
			<key>name</key>
			<string>蓝光</string>
			<key>pos</key>
			<integer>0</integer>
		</dict>
		<key>flv</key>
		<dict>
			<key>fullname</key>
			<string>流畅 180P</string>
			<key>name</key>
			<string>流畅</string>
			<key>pos</key>
			<integer>4</integer>
		</dict>
		<key>hd</key>
		<dict>
			<key>fullname</key>
			<string>高清 480P</string>
			<key>name</key>
			<string>高清</string>
			<key>pos</key>
			<integer>2</integer>
		</dict>
		<key>mp4</key>
		<dict>
			<key>fullname</key>
			<string>高清 480P</string>
			<key>name</key>
			<string>高清</string>
			<key>pos</key>
			<integer>2</integer>
		</dict>
		<key>msd</key>
		<dict>
			<key>fullname</key>
			<string>流畅 180P</string>
			<key>name</key>
			<string>流畅</string>
			<key>pos</key>
			<integer>4</integer>
		</dict>
		<key>sd</key>
		<dict>
			<key>fullname</key>
			<string>标清 270P</string>
			<key>name</key>
			<string>标清</string>
			<key>pos</key>
			<integer>3</integer>
		</dict>
		<key>shd</key>
		<dict>
			<key>fullname</key>
			<string>超清 720P</string>
			<key>name</key>
			<string>超清</string>
			<key>pos</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>secondCacheReportTime</key>
	<integer>10</integer>
	<key>seeBackChangeToLiveInterval</key>
	<integer>1</integer>
	<key>setting_plugins</key>
	<array/>
	<key>show_player_slider_for_live</key>
	<false/>
	<key>splashAnimationFrequencyControlTime</key>
	<real>24</real>
	<key>suffixForShareContent</key>
	<string></string>
	<key>supportDolbyDeviceList</key>
	<array>
		<string>iPhone6,1</string>
		<string>iPhone6,2</string>
		<string>iPhone7,2</string>
		<string>iPhone7,1</string>
		<string>iPhone8,1</string>
		<string>iPhone8,2</string>
		<string>iPhone8,4</string>
		<string>iPod7,1</string>
	</array>
	<key>supportDolbyMediaPlay</key>
	<true/>
	<key>support_3g_mp4</key>
	<false/>
	<key>support_wifi_hls</key>
	<false/>
	<key>support_wx_favorite</key>
	<true/>
	<key>tencentLiveAppPullBarFrequencyControlTime</key>
	<integer>72</integer>
	<key>tryAccelerateDownLoadSeconds</key>
	<integer>60</integer>
	<key>tryAccelerateMaxSpeed</key>
	<integer>1024</integer>
	<key>tryAccelerateMinSpeed</key>
	<integer>10</integer>
	<key>tryAcceleratePercentBegin</key>
	<integer>30</integer>
	<key>tryAcceleratePercentEnd</key>
	<integer>50</integer>
	<key>try_to_play_max_times</key>
	<integer>3</integer>
	<key>unicomAutoPlayToastMaxCount</key>
	<integer>3</integer>
	<key>unicomFlowLimitEnable</key>
	<false/>
	<key>unicomFlowUpperValue</key>
	<real>6</real>
	<key>unicom_support_3g_mp4</key>
	<true/>
	<key>useAppExtendShare</key>
	<false/>
	<key>use_clipkey_from_getvinfo</key>
	<true/>
	<key>use_getvkey</key>
	<true/>
	<key>video_3g_default_format</key>
	<string>sd</string>
	<key>video_autoplay</key>
	<false/>
	<key>video_wifi_default_format</key>
	<string>hd</string>
	<key>vkeyMiniValidInterval</key>
	<integer>14400</integer>
	<key>vodPlayReportLogEnable</key>
	<true/>
	<key>wifi_hls_by_server_strategy</key>
	<false/>
</dict>
</plist>
