<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>贴条高发地</string>
		<key>keywords</key>
		<string>贴条、罚款、扣分</string>
		<key>description</key>
		<string>为您提供贴条高发地查询服务</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=openStickers&amp;sourceApplication=amap</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>tietiaogaofa</string>
	</dict>
	<dict>
		<key>title</key>
		<string>回家</string>
		<key>keywords</key>
		<string>回家</string>
		<key>description</key>
		<string>高德地图</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=PathSearch&amp;sourceApplication=flash&amp;showType=0</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>huijia</string>
	</dict>
	<dict>
		<key>title</key>
		<string>去公司</string>
		<key>keywords</key>
		<string>上班,去公司</string>
		<key>description</key>
		<string>高德地图</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=PathSearch&amp;sourceApplication=flash&amp;showType=0</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>qugongsi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>违章查询</string>
		<key>keywords</key>
		<string>违章,扣分</string>
		<key>description</key>
		<string>点击查询爱车违章记录</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=Violation&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>weizhangchaxun</string>
	</dict>
	<dict>
		<key>title</key>
		<string>列车查询</string>
		<key>keywords</key>
		<string>列车,火车,动车,城际,高铁,火车票</string>
		<key>description</key>
		<string>为您提供列车查询服务</string>
		<key>url</key>
		<string>iosamap://openFeature?sourceApplication=applicationName&amp;featureName=TrainSearch</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>liechechaxun</string>
	</dict>
	<dict>
		<key>title</key>
		<string>实时路况</string>
		<key>keywords</key>
		<string>路况,堵车,拥堵</string>
		<key>description</key>
		<string>为您查询周边实时路况信息</string>
		<key>url</key>
		<string>iosamap://showTraffic?sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;level=16&amp;dev=1</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shishilukuang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>实时路况</string>
		<key>keywords</key>
		<string>路况,堵车,拥堵</string>
		<key>description</key>
		<string>为您查询周边实时路况信息</string>
		<key>url</key>
		<string>iosamap://showTraffic?sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;level=16&amp;dev=1</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shishilukuang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美食</string>
		<key>keywords</key>
		<string>美食,餐饮,餐厅,餐馆,好吃,饭馆,饭店</string>
		<key>description</key>
		<string>为您推荐附近的美食</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=美食&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>meishi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>酒店</string>
		<key>keywords</key>
		<string>酒店,住宿,宾馆,客栈,旅馆,旅社,招待所,旅店,旅舍,快捷酒店,连锁酒店</string>
		<key>description</key>
		<string>为您推荐附近的酒店</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=酒店&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>jiudian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>景点</string>
		<key>keywords</key>
		<string>景点,景区,风景名胜,风景区,旅游景点,名胜古迹,名胜景点,著名景点,玩乐</string>
		<key>description</key>
		<string>为您推荐附近的景点</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=景点&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>jingdian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>地铁站</string>
		<key>keywords</key>
		<string>地铁站,城铁站,地铁,城铁</string>
		<key>description</key>
		<string>为您推荐附近的地铁站</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=地铁站&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>ditiezhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公交站</string>
		<key>keywords</key>
		<string>公交站,公交车站,公交站台,公交</string>
		<key>description</key>
		<string>为您推荐附近的公交站</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=公交站&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>gongjiaozhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>快递</string>
		<key>keywords</key>
		<string>快递</string>
		<key>description</key>
		<string>为您推荐附近的快递</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=快递&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>kuaidi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商场</string>
		<key>keywords</key>
		<string>商场,购物</string>
		<key>description</key>
		<string>为您推荐附近的商场</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=商场&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shangchang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>超市</string>
		<key>keywords</key>
		<string>超市</string>
		<key>description</key>
		<string>为您推荐附近的超市</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=超市&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>chaoshi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>休闲</string>
		<key>keywords</key>
		<string> 休闲,休闲娱乐</string>
		<key>description</key>
		<string>为您推荐附近的休闲</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=休闲&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>xiuxian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>火车站</string>
		<key>keywords</key>
		<string>火车站</string>
		<key>description</key>
		<string>为您推荐附近的火车站</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=火车站&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>huochezhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>加油站</string>
		<key>keywords</key>
		<string>加油站</string>
		<key>description</key>
		<string>为您推荐附近的加油站</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=加油站&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>jiayouzhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>停车场</string>
		<key>keywords</key>
		<string>停车场</string>
		<key>description</key>
		<string>为您推荐附近的停车场</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=停车场&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>tingchechang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>银行</string>
		<key>keywords</key>
		<string>银行</string>
		<key>description</key>
		<string>为您推荐附近的银行</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=银行&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>yinhang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>网吧</string>
		<key>keywords</key>
		<string>网吧</string>
		<key>description</key>
		<string>为您推荐附近的网吧</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=网吧&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>wangba</string>
	</dict>
	<dict>
		<key>title</key>
		<string>咖啡厅</string>
		<key>keywords</key>
		<string>咖啡厅,咖啡,咖啡店</string>
		<key>description</key>
		<string>为您推荐附近的咖啡厅</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=咖啡厅&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>kafeiting</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影院</string>
		<key>keywords</key>
		<string>电影院</string>
		<key>description</key>
		<string>为您推荐附近的电影院</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=电影院&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>dianyingyuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>快餐</string>
		<key>keywords</key>
		<string>快餐</string>
		<key>description</key>
		<string>为您推荐附近的快餐</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=快餐&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>kuaican</string>
	</dict>
	<dict>
		<key>title</key>
		<string>工商银行</string>
		<key>keywords</key>
		<string>工商银行,工行,中国工商银行,中国工行</string>
		<key>description</key>
		<string>为您推荐附近的工商银行</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=工商银行&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>gongshangyinhang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>建设银行</string>
		<key>keywords</key>
		<string>建设银行,建行,中国建设银行,中国建行</string>
		<key>description</key>
		<string>为您推荐附近的建设银行</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=建设银行&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>jiansheyinhang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>麦当劳</string>
		<key>keywords</key>
		<string>麦当劳</string>
		<key>description</key>
		<string>为您推荐附近的麦当劳</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=麦当劳&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>maidanglao</string>
	</dict>
	<dict>
		<key>title</key>
		<string>肯德基</string>
		<key>keywords</key>
		<string> 肯德基,KFC,kfc</string>
		<key>description</key>
		<string>为您推荐附近的肯德基</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=肯德基&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>kendeji</string>
	</dict>
	<dict>
		<key>title</key>
		<string>药店</string>
		<key>keywords</key>
		<string>药店,药房</string>
		<key>description</key>
		<string>为您推荐附近的药店</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=药店&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>yaodian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4S店</string>
		<key>keywords</key>
		<string>4S店</string>
		<key>description</key>
		<string>为您推荐附近的4S店</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=AroundSearch&amp;page=AroundResult&amp;needLocate=1&amp;keyword=4S店&amp;sourceApplication=flash</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>4sdian</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天安门</string>
		<key>keywords</key>
		<string>天安门</string>
		<key>description</key>
		<string>为您找到天安门</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=天安门</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>tiananmen</string>
	</dict>
	<dict>
		<key>title</key>
		<string>北京西站</string>
		<key>keywords</key>
		<string>北京西站,北京西</string>
		<key>description</key>
		<string>为您找到北京西站</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=北京西站</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>beijingxizhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>颐和园</string>
		<key>keywords</key>
		<string>颐和园</string>
		<key>description</key>
		<string>为您找到颐和园</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=颐和园</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>yiheyuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>首都机场</string>
		<key>keywords</key>
		<string>首都机场,北京首都国际机场,首都国际机场</string>
		<key>description</key>
		<string>为您找到首都机场</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=首都机场</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shoudujichang</string>
	</dict>
	<dict>
		<key>title</key>
		<string>故宫博物院</string>
		<key>keywords</key>
		<string>故宫博物院,故宫</string>
		<key>description</key>
		<string>为您找到故宫博物院</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=故宫博物院</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>gugongbowuyuan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>广州火车站</string>
		<key>keywords</key>
		<string>广州火车站</string>
		<key>description</key>
		<string>为您找到广州火车站</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=广州火车站</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>guangzhouhuochezhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上海火车站</string>
		<key>keywords</key>
		<string>上海火车站</string>
		<key>description</key>
		<string>为您找到上海火车站</string>
		<key>url</key>
		<string>iosamap://poi?needLocate＝1&amp;sourceApplication=applicationName&amp;backScheme=applicationScheme&amp;name=上海火车站</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shanghaihuochezhan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>出租车</string>
		<key>keywords</key>
		<string>出租车,打车,顺风车,快车,滴滴打车</string>
		<key>description</key>
		<string>点击一键叫车，出行更方便</string>
		<key>url</key>
		<string>iosamap://openFeature?sourceApplication=applicationName&amp;featureName=TakeTaxi</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>chuzuche</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收藏夹</string>
		<key>keywords</key>
		<string>收藏夹、我的收藏</string>
		<key>description</key>
		<string>点击查看我的收藏</string>
		<key>url</key>
		<string>iosamap://openFeature?sourceApplication=applicationName&amp;featureName=Favorite</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>shouchanjia</string>
	</dict>
	<dict>
		<key>title</key>
		<string>地铁图</string>
		<key>keywords</key>
		<string>地铁图,地铁,地铁站</string>
		<key>description</key>
		<string>点击查看地铁图</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=Subway&amp;sourceApplication=flash&amp;backScheme=applicationScheme&amp;page=Subway</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>ditietu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电子狗</string>
		<key>keywords</key>
		<string>电子狗,电子眼,监控摄像,违章</string>
		<key>description</key>
		<string>点击开启电子狗探测</string>
		<key>url</key>
		<string>iosamap://openFeature?featureName=Mine&amp;page=ToolBox&amp;item=ElectronicEye&amp;sourceApplication=applicationName</string>
		<key>domain</key>
		<string>高德地图</string>
		<key>id</key>
		<string>dianzigou</string>
	</dict>
</array>
</plist>
