<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>background</key>
		<string>default_guideview_1242x2208-1</string>
		<key>bgframe</key>
		<string>{{0,0},{414,736}}</string>
	</dict>
	<dict>
		<key>background</key>
		<string>default_guideview_1242x2208-2</string>
		<key>bgframe</key>
		<string>{{414,0},{414,736}}</string>
	</dict>
	<dict>
		<key>background</key>
		<string>default_guideview_1242x2208-3</string>
		<key>bgframe</key>
		<string>{{828,0},{414,736}}</string>
	</dict>
</array>
</plist>
