<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NM_STATUS_GUIDEVIEW_MAIN</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_LEFTSLIDE</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_SHARE</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_PATH</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_PATH1</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_COMPASS</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_RIGHT</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_STANDBY</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_BUSLINE</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_SSO</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_POI</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_LINE1</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_LINE2</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_ANIMATION</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_COMMON_LOADBOARD</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_MAIN_LAYER</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_MAIN_TRAFFIC</key>
	<dict>
		<key>hadshown</key>
		<true/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_TRAFFIC_LIST</key>
	<dict>
		<key>hadshown</key>
		<true/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_DIGGING_LAYER</key>
	<dict>
		<key>hadshown</key>
		<false/>
	</dict>
	<key>NM_STATUS_GUIDEVIEW_PATH_DETAILLIST</key>
	<dict>
		<key>hadshown</key>
		<true/>
	</dict>
</dict>
</plist>
