<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildInfo</key>
	<string></string>
	<key>BuildMachineOSBuild</key>
	<string>16E195</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>高德地图</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>icon.png</string>
				<string>icon@2x.png</string>
				<string>icon-120.png</string>
				<string>icon-72.png</string>
				<string>icon-small-80.png</string>
				<string>icon-small-50.png</string>
				<string>icon-small.png</string>
				<string>icon-small@2x.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AMapiPhone</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
				<string>AppIcon72x72</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.tencent.QQMusic</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>高德地图</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>8.0.6.2061</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14E269</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E269</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8E162</string>
	<key>GITVERSION</key>
	<string>project:4d8f99432b257c5bfdb348ca7b4f3753f79a09d4|basemap:d108b56b5d8e1d2e0487c663cc588895e796fbc5|externalFrameworks:2a4b5e7a547bcb813b9b4734d1a3e7d37acc7653|lifeservice:6eef3b951bb0668e95c5eb66dcaa825f4ff86ce6|route:a1dbea7bb2dfd097ac7e1c59662c9cd1b861290e|search:1182f64bef0b54dcbc5a6bff67dc2573f9bfeff6|user:6722f684548d913e5fd873c56cf28b5ba68317da|publictransit:5a5ebffc7d6f24d85e4f309b9419bfc11fe93235|ankit:71b07b380ae9504e66ed3016008071754c89d9ce|engine:f7abbf49185e3a6816aa3bd8ed1debaeaac9198c</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>alipays</string>
		<string>appStoreMainCollectApp</string>
		<string>dianping</string>
		<string>iosgxd</string>
		<string>mainCollectApp</string>
		<string>mqq</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>onstar2autonavi</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>taobao</string>
		<string>tmall</string>
		<string>tbopen</string>
		<string>wechat</string>
		<string>weibosdk</string>
		<string>weixin</string>
		<string>UCBrowser</string>
		<string>Autonavi</string>
		<string>dingtalk</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqqbrowser</string>
		<string>mttbrowser</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV4</string>
		<string>wtloginmqq2</string>
		<string>mqzone</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqapiwallet</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkdataline</string>
		<string>mqqgamebindinggroup</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>tencentapi.qq.reqContent</string>
		<string>tencentapi.qzone.reqContent</string>
		<string>alimusic</string>
		<string>xiami</string>
		<string>taobaotravel</string>
		<string>youkuad</string>
		<string>youkuback</string>
		<string>youkugamecenter</string>
		<string>ykwbplay</string>
		<string>authresult</string>
		<string>youkuhd</string>
		<string>sokusdk</string>
		<string>lfsdk</string>
		<string>imeituan</string>
		<string>fleamarket</string>
		<string>tbmovie</string>
		<string>newsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModePedestrian</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>点击允许，使用高德地图拍摄照片</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>高德地图会在搜索、路线查询和导航等服务中使用您的位置信息。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>高德地图会在搜索、路线查询和导航等服务中使用您的位置信息。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>点击允许，立即开始使用语音功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>点击允许，选择照片上传到高德地图</string>
	<key>PCFlag</key>
	<string>C3320</string>
	<key>ProductTG</key>
	<string>Product</string>
	<key>SBStarkLaunchModes</key>
	<array>
		<string>Default</string>
		<string>Siri</string>
	</array>
	<key>SBUsesNetwork</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>gd_oswald.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>default_commom_shorItemIcon_Search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>附近搜索</string>
			<key>UIApplicationShortcutItemType</key>
			<string>3DTouchItemSearch</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>iosamap://openFeature?featureName=Nearby&amp;sourceApplication=3DTouch</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>default_commom_shorItemIcon_Gothere</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>从这里出发</string>
			<key>UIApplicationShortcutItemType</key>
			<string>3DTouchItemGo</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>iosamap://path?sourceApplication=3DTouch&amp;dinput=1</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>default_commom_shorItemIcon_Home</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>回家</string>
			<key>UIApplicationShortcutItemType</key>
			<string>3DTouchItemGoHome</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>iosamap://openFeature?featureName=Favorite&amp;action=gohome&amp;sourceApplication=3DTouch</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-Landscape-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-800-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedDevices2</key>
	<array>
		<string>iPad4,1</string>
		<string>iPad4,2</string>
		<string>iPad4,3</string>
		<string>iPad4,4</string>
		<string>iPad4,5</string>
		<string>iPad4,6</string>
		<string>iPad4,7</string>
		<string>iPad4,8</string>
		<string>iPad4,9</string>
		<string>iPad5,1</string>
		<string>iPad5,2</string>
		<string>iPad5,3</string>
		<string>iPad5,4</string>
		<string>iPad6,11</string>
		<string>iPad6,12</string>
		<string>iPad6,3</string>
		<string>iPad6,4</string>
		<string>iPad6,7</string>
		<string>iPad6,8</string>
		<string>iPhone6,1</string>
		<string>iPhone6,2</string>
		<string>iPhone7,2</string>
		<string>iPhone8,1</string>
		<string>iPhone8,4</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
		<string>iPod7,1</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.ford.sync.prot0</string>
		<string>com.smartdevicelink.prot0</string>
		<string>com.smartdevicelink.prot1</string>
		<string>com.smartdevicelink.prot2</string>
		<string>com.smartdevicelink.prot3</string>
		<string>com.smartdevicelink.prot4</string>
		<string>com.smartdevicelink.prot5</string>
		<string>com.smartdevicelink.prot6</string>
		<string>com.smartdevicelink.prot7</string>
		<string>com.smartdevicelink.prot8</string>
		<string>com.smartdevicelink.prot9</string>
		<string>com.smartdevicelink.prot10</string>
		<string>com.smartdevicelink.prot11</string>
		<string>com.smartdevicelink.prot12</string>
		<string>com.smartdevicelink.prot13</string>
		<string>com.smartdevicelink.prot14</string>
		<string>com.smartdevicelink.prot15</string>
		<string>com.smartdevicelink.prot16</string>
		<string>com.smartdevicelink.prot17</string>
		<string>com.smartdevicelink.prot18</string>
		<string>com.smartdevicelink.prot19</string>
		<string>com.smartdevicelink.prot20</string>
		<string>com.smartdevicelink.prot21</string>
		<string>com.smartdevicelink.prot22</string>
		<string>com.smartdevicelink.prot23</string>
		<string>com.smartdevicelink.prot24</string>
		<string>com.smartdevicelink.prot25</string>
		<string>com.smartdevicelink.prot26</string>
		<string>com.smartdevicelink.prot27</string>
		<string>com.smartdevicelink.prot28</string>
		<string>com.smartdevicelink.prot29</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>URL types2</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.autonavi.amap</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb884965267</string>
				<string>iosamap</string>
				<string>amapuri</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx9b913299215a38f2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sina.51e4bd8d56240b458708cc26</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent100571486</string>
				<string>tencent100571486.content</string>
				<string>QQ05fe995e</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Laiwang</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>laiwang893174429</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yx36218a7f4deb43abb48cceb6c454e7b0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tbopen21792629</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoaodtmx3bkaoebkwjm</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
