<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11020</key>
	<string>缓慢</string>
	<key>11021</key>
	<string>拥堵</string>
	<key>11022</key>
	<string>阻塞</string>
	<key>11010</key>
	<string>故障车</string>
	<key>11011</key>
	<string>车祸</string>
	<key>11012</key>
	<string>障碍</string>
	<key>11040</key>
	<string>施工图标</string>
	<key>11050</key>
	<string>道路关闭</string>
	<key>11031</key>
	<string>交通管制</string>
	<key>11060</key>
	<string>警告图标</string>
	<key>11070</key>
	<string>公告图标</string>
	<key>11030</key>
	<string>违章罚单</string>
	<key>11032</key>
	<string>酒驾临检</string>
</dict>
</plist>
