<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CommentServer</key>
	<dict>
		<key>title</key>
		<string>CommentServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/commentFeed/comment_success.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/deming.zhu/commentFeed/comment_success.html</string>
	</dict>
	<key>OfflineResourceFAQServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/offline/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/hongyong.jin/offline/index.html</string>
	</dict>
</dict>
</plist>
