<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NaviPayShareFinishServer</key>
	<dict>
		<key>title</key>
		<string>NaviPayShareFinishServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/payError/shareResult.html?share_type=2</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/gaochao.song/activity/payError/shareResult.html?share_type=2</string>
	</dict>
	<key>NaviPayHomePageServer</key>
	<dict>
		<key>title</key>
		<string>NaviPayHomePageServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/payError/rule.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/payError/rule.html</string>
	</dict>
	<key>NaviPayDetailServer</key>
	<dict>
		<key>title</key>
		<string>NaviPayDetailServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/payError/rule.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/payError/rule.html</string>
	</dict>
	<key>NaviPayGuaranTeeServer</key>
	<dict>
		<key>title</key>
		<string>NaviPayGuaranTeeServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/payError/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/payError/index.html</string>
	</dict>
	<key>NaviPayGuaranTeeNoButtonServer</key>
	<dict>
		<key>title</key>
		<string>NaviPayGuaranTeeNoButtonServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/payError/index.html?applypage=1</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/payError/index.html?applypage=1</string>
	</dict>
	<key>TRCCompensateNoApplyMainPageServer</key>
	<dict>
		<key>title</key>
		<string>TRCCompensateNoApplyMainPageServer</string>
		<key>ProductServer</key>
		<string>http%3a%2f%2fwap.amap.com%2factivity%2fdigital%2findex.html%3ftab%3d0%26canapply%3dfalse</string>
		<key>TestServer</key>
		<string>http%3a%2f%2fgroup.testing.amap.com%2fpublic%2factivity%2fdigital%2findex.html%3ftab%3d0%26canapply%3dfalse</string>
	</dict>
	<key>TRCCompensateDescriptionServer</key>
	<dict>
		<key>title</key>
		<string>TRCCompensateDescriptionServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/digital/desc.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/digital/desc.html</string>
	</dict>
	<key>TRCCompensateAuthorizationServer</key>
	<dict>
		<key>title</key>
		<string>TRCCompensateAuthorizationServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/wzcx/authorization.html</string>
		<key>TestServer</key>
		<string>http://wap.amap.com/activity/wzcx/authorization.html</string>
	</dict>
	<key>TRCCompensateShareServer</key>
	<dict>
		<key>title</key>
		<string>TRCCompensateShareServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/digital/index_wx.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/digital/index_wx.html</string>
	</dict>
	<key>NMNaviCross3DBanner</key>
	<dict>
		<key>title</key>
		<string>NMNaviCross3DBanner</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/three_video/three_video.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yongheng.wang/three_video/three_video.html</string>
	</dict>
	<key>NMNaviCrossCommonQuestion</key>
	<dict>
		<key>title</key>
		<string>NMNaviCrossCommonQuestion</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/three_video/qa.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yongheng.wang/three_video/qa.html</string>
	</dict>
	<key>NMPathHTMLViewServer</key>
	<dict>
		<key>title</key>
		<string>NMPathHTMLViewServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/waifu/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/waifu/index.html</string>
	</dict>
	<key>NMCarCenterViolationServer</key>
	<dict>
		<key>title</key>
		<string>NMCarCenterViolationServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/wzcx/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yongheng.wang/wzcx/index.html</string>
	</dict>
</dict>
</plist>
