<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LocationShootingActivityServer</key>
	<dict>
		<key>title</key>
		<string>LocationShootingActivityServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/photos/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/activity/photos/index.html</string>
	</dict>
	<key>ScenicGuideShareServer</key>
	<dict>
		<key>title</key>
		<string>scenicGuideShareServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/vgShare/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/deming.zhu/activity/vgShare/index.html</string>
	</dict>
	<key>LocationShootingShareServer</key>
	<dict>
		<key>title</key>
		<string>LocationShootingShareServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/photos/share/photo.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/photos/share/photo.html</string>
	</dict>
	<key>LocationShootingReportServer</key>
	<dict>
		<key>title</key>
		<string>LocationShootingReportServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/photos/report/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/photos/report/index.html</string>
	</dict>
	<key>EdaijiaProtocolServer</key>
	<dict>
		<key>title</key>
		<string>EdaijiaProtocolServer</string>
		<key>ProductServer</key>
		<string>http://f.amap.com/redirect/?target=http://h5.edaijia.cn/amap/treaty.html</string>
		<key>TestServer</key>
		<string>http://f.amap.com/redirect/?target=http://h5.edaijia.cn/amap/treaty.html</string>
	</dict>
	<key>EdaijiaServer</key>
	<dict>
		<key>title</key>
		<string>EdaijiaServer</string>
		<key>ProductServer</key>
		<string>http://f.amap.com/redirect/?target=http://h5.edaijia.cn/amap/home.html</string>
		<key>TestServer</key>
		<string>http://f.amap.com/redirect/?target=http://h5.edaijia.cn/amap/home.html</string>
	</dict>
	<key>EjiajieProtocolServer</key>
	<dict>
		<key>title</key>
		<string>EjiajieProtocolServer</string>
		<key>ProductServer</key>
		<string>http://f.amap.com/redirect/?target=http://www.1jiajie.com/termsofservice.php</string>
		<key>TestServer</key>
		<string>http://f.amap.com/redirect/?target=http://www.1jiajie.com/termsofservice.php</string>
	</dict>
	<key>EjiajieServer</key>
	<dict>
		<key>title</key>
		<string>EjiajieServer</string>
		<key>ProductServer</key>
		<string>http://f.amap.com/redirect/?target=http://admin.1jiajie.com/gaode/index.php?online=1</string>
		<key>TestServer</key>
		<string>http://f.amap.com/redirect/?target=http://test.admin.1jiajie.com/gaode/index.php?test=1</string>
	</dict>
	<key>EDriverAgreementServer</key>
	<dict>
		<key>title</key>
		<string>EDriverAgreementServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/license/driving.html </string>
		<key>TestServer</key>
		<string>http://tpl.testing.amap.com/license/driving.html</string>
	</dict>
	<key>DriverAgreementServer</key>
	<dict>
		<key>title</key>
		<string>DriverAgreementServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/license/driving_1.html </string>
		<key>TestServer</key>
		<string>http://tpl.testing.amap.com/license/driving_1.html</string>
	</dict>
</dict>
</plist>
