<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserContributionViewServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/place/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/place/index.html</string>
	</dict>
	<key>UserCenterViewServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/member/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/memberCenter/index.html </string>
	</dict>
	<key>HelpServer</key>
	<dict>
		<key>title</key>
		<string>HelpServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/userhelpV7/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/liu.ping/wap/userhelpV6/index.html</string>
	</dict>
	<key>AccountPolicyServer</key>
	<dict>
		<key>title</key>
		<string>AccountPolicyServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/doc/serviceitem.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/doc/serviceitem.html</string>
	</dict>
	<key>ImprovmentPlanServer</key>
	<dict>
		<key>title</key>
		<string>ImprovmentPlanServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/user/plan.html</string>
		<key>TestServer</key>
		<string>http://wap.amap.com/user/plan.html</string>
	</dict>
	<key>ServiceItemServer</key>
	<dict>
		<key>title</key>
		<string>ServiceItemServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/doc/serviceitem.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/doc/serviceitem.html</string>
	</dict>
	<key>UserLevelInfoServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/member/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/memberCenter/index.html</string>
	</dict>
	<key>UserCheckinCountInfoServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>https://wap.amap.com/userLevel/sign.html</string>
		<key>TestServer</key>
		<string>https://group.testing.amap.com/public/userLevel/sign.html</string>
	</dict>
	<key>UserLevelSignViewServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>https://wap.amap.com/userLevel/sign.html</string>
		<key>TestServer</key>
		<string>https://group.testing.amap.com/public/userLevel/sign.html</string>
	</dict>
	<key>SendToCarServer</key>
	<dict>
		<key>title</key>
		<string>SendToCarServer</string>
		<key>ProductServer</key>
		<string>http://telematics.autonavi.com/sendtocar/</string>
		<key>TestServer</key>
		<string>http://telematics-test.autonavi.com/sendtocar/</string>
	</dict>
	<key>WoPlusGiveDataServer</key>
	<dict>
		<key>title</key>
		<string>WoPlusGiveDataServer</string>
		<key>ProductServer</key>
		<string>http://wo.amap.com/wohome/user/showLogin.htm?</string>
		<key>TestServer</key>
		<string>http://wo.amap.com/wohome/user/showLogin.htm?</string>
	</dict>
	<key>GoldCoinURLHost</key>
	<dict>
		<key>title</key>
		<string>GoldCoinURLHost</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/goldcoin</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/goldcoin</string>
	</dict>
	<key>TaoBaoRegistServer</key>
	<dict>
		<key>title</key>
		<string>TaoBaoRegistServer</string>
		<key>ProductServer</key>
		<string>http://reg.taobao.com/member/reg/fill_mobile.htm</string>
		<key>TestServer</key>
		<string>http://reg.taobao.com/member/reg/fill_mobile.htm</string>
	</dict>
	<key>TaoBaoForgetPasswordServer</key>
	<dict>
		<key>title</key>
		<string>TaoBaoForgetPasswordServer</string>
		<key>ProductServer</key>
		<string>https://u.m.taobao.com/reg/retrieve_pwd_index.htm</string>
		<key>TestServer</key>
		<string>https://u.m.taobao.com/reg/retrieve_pwd_index.htm</string>
	</dict>
	<key>ThanksURLHost</key>
	<dict>
		<key>title</key>
		<string>ThanksURLHost</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/thanks/thanks.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/thanks/thanks.html</string>
	</dict>
	<key>DiggerActivityServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/digger/</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/digger/</string>
	</dict>
	<key>FeedbackBusCollectServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/busstation/busstation.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/busstation/busstation.html</string>
	</dict>
	<key>FeedbackPhotoRuleServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/online/userfeedback/access_rule.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/userfeedback/access_rule.html</string>
	</dict>
	<key>FeedbackSubmitServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/online/userfeedback/feed_submit.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/online/userfeedback/feed_submit.html</string>
	</dict>
	<key>FeedbackBusActivityServer</key>
	<dict>
		<key>title</key>
		<string>FeedbackBusActivityServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/travelOfMayDay/busError_wx.html?nofooter</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/travelOfMayDay/busError_wx.html?nofooter</string>
	</dict>
	<key>TravelSecurityWithNoFeedBackFlagServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/travelOfMayDay/index.html?bustips=false</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/lin.fang/travelOfMayDay/index.html?bustips=false</string>
	</dict>
	<key>TravelSecurityWithFeedBackFlagServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/travelOfMayDay/index.html?bustips=true</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/lin.fang/travelOfMayDay/index.html?bustips=true</string>
	</dict>
	<key>ActivityLetterDetailServer</key>
	<dict>
		<key>title</key>
		<string>ActivityLetterDetail</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/letter/detail.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/activity/letter/detail.html</string>
	</dict>
	<key>activityZoneMyRewardViewServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>https://cache.amap.com/activity/common/page/awardlist.html?gd_from=banner </string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/common/page/awardlist.html?gd_from=banner</string>
	</dict>
	<key>FeedbackHelpCenterServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://h5.amap.com/helpcenter/help/nativelist</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/helpcenter/help/nativelist</string>
	</dict>
	<key>FeedbackHelpCenterFeedbackServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/online/userfeedback/feedBack_list.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/jing.chu/online/userfeedback/feedBack_list.html</string>
	</dict>
	<key>FeedbackExampleServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://h5.amap.com/helpcenter/help/example</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/helpcenter/help/example</string>
	</dict>
	<key>CarCenterAgreementServer</key>
	<dict>
		<key>title</key>
		<string></string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/trafficViolations/sqxy.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/trafficViolations/sqxy.html</string>
	</dict>
</dict>
</plist>
