<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DynamicServer</key>
	<dict>
		<key>title</key>
		<string>DynamicServer</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>MapCoreServer</key>
	<dict>
		<key>title</key>
		<string>MapCoreServer</string>
		<key>ProductServer</key>
		<string>http://mps.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>IndoorRouteServer</key>
	<dict>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com</string>
		<key>title</key>
		<string>IndoorRouteServer</string>
	</dict>
	<key>AOSServer</key>
	<dict>
		<key>title</key>
		<string>AOSServer</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>AE8CarPathSearchServer</key>
	<dict>
		<key>title</key>
		<string>AE8CarPathSearchServer</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>AOSSNSServer</key>
	<dict>
		<key>title</key>
		<string>AOSSNSServer</string>
		<key>ProductServer</key>
		<string>https://sns.amap.com/</string>
		<key>TestServer</key>
		<string>https://sns.testing.amap.com/</string>
	</dict>
    <key>AOSPassportServer</key>
    <dict>
        <key>title</key>
        <string>AOSPassportServer</string>
        <key>ProductServer</key>
        <string>https://passport.amap.com/</string>
        <key>TestServer</key>
        <string>https://passport.testing.amap.com/</string>
    </dict>
	<key>AOSLogServer</key>
	<dict>
		<key>title</key>
		<string>AOSLogServer</string>
		<key>ProductServer</key>
		<string>http://page.amap.com/ws/page/upload/</string>
		<key>TestServer</key>
		<string>http://log.testing.amap.com/ws/page/upload/</string>
	</dict>
	<key>CrashLogServer</key>
	<dict>
		<key>title</key>
		<string>CrashLogServer</string>
		<key>ProductServer</key>
		<string>http://page.amap.com/ws/page/upload/</string>
		<key>TestServer</key>
		<string>http://log.testing.amap.com/ws/page/upload/</string>
	</dict>
	<key>LSE2Server</key>
	<dict>
		<key>title</key>
		<string>LSE2Server</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>OSSServer</key>
	<dict>
		<key>title</key>
		<string>OSSServer</string>
		<key>ProductServer</key>
		<string>http://oss.amap.com/</string>
		<key>TestServer</key>
		<string>http://oss.testing.amap.com/</string>
	</dict>
	<key>PoiDeepServer</key>
	<dict>
		<key>title</key>
		<string>PoiDeepServer</string>
		<key>ProductServer</key>
		<string>http://wb.amap.com</string>
		<key>TestServer</key>
		<string>http://wb.testing.amap.com</string>
	</dict>
	<key>OtherAppServer</key>
	<dict>
		<key>title</key>
		<string>OtherAppServer</string>
		<key>ProductServer</key>
		<string>http://wb.amap.com/doc/market/ios/index.html</string>
		<key>TestServer</key>
		<string>http://wb.testing.amap.com/doc/market/ios/index.html</string>
	</dict>
	<key>Html5TemplateServer</key>
	<dict>
		<key>title</key>
		<string>Html5TemplateServer</string>
		<key>ProductServer</key>
		<string>http://poi.amap.com/tplupdate.html</string>
		<key>TestServer</key>
		<string>http://poi.testing.amap.com/tplupdate.html</string>
	</dict>
	<key>LayersServer</key>
	<dict>
		<key>title</key>
		<string>LayersServer</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com</string>
	</dict>
	<key>AppDownloadServer</key>
	<dict>
		<key>title</key>
		<string>AppDownloadServer</string>
		<key>ProductServer</key>
		<string>http://mo.amap.com/download?src=999</string>
		<key>TestServer</key>
		<string>http://mo.amap.com/download?src=999</string>
	</dict>
	<key>IndoorMapServer</key>
	<dict>
		<key>title</key>
		<string>IndoorMapServer</string>
		<key>ProductServer</key>
		<string>http://indoor.amap.com</string>
		<key>TestServer</key>
		<string>http://indooreditor.amap.com/</string>
	</dict>
	<key>MyViolationServer</key>
	<dict>
		<key>title</key>
		<string>MyViolationServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/wzcx/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yongheng.wang/wzcx/index.html</string>
	</dict>
	<key>PanoramaServer</key>
	<dict>
		<key>title</key>
		<string>PanoramaServer</string>
		<key>ProductServer</key>
		<string>http://sv.amap.com/</string>
		<key>TestServer</key>
		<string>http://svdemo.amap.com/</string>
	</dict>
	<key>TravelH5Server</key>
	<dict>
		<key>title</key>
		<string>TravelH5Server</string>
		<key>ProductServer</key>
		<string>http://sv.amap.com/zt/tour/index.html</string>
		<key>TestServer</key>
		<string>http://10.17.128.71:8086/tour/index.html</string>
	</dict>
	<key>ThreeDMapServer</key>
	<dict>
		<key>title</key>
		<string>ThreeDMapServer</string>
		<key>ProductServer</key>
		<string>http://mf.amap.com/</string>
		<key>TestServer</key>
		<string>http://mf.amap.com/</string>
	</dict>
	<key>IndoorMapRecommendServer</key>
	<dict>
		<key>TestServer</key>
		<string>http://maps.debug.amap.com</string>
		<key>ProductServer</key>
		<string>http://m5.amap.com</string>
		<key>title</key>
		<string>IndoorMapRecommendServer</string>
	</dict>
	<key>BusGreenTravelRecordServer</key>
	<dict>
		<key>title</key>
		<string>BusGreenTravelRecordServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/activity/green_travel/record.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/public/activity/green_travel/record.html</string>
	</dict>
	<key>BusNoticeServer</key>
	<dict>
		<key>title</key>
		<string>BusNoticeServer</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/online/busNotice/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yue.wang/online/busNotice/index.html</string>
	</dict>
	<key>ToolBoxBusLambAddress</key>
	<dict>
		<key>title</key>
		<string>ToolBoxBusLambAddress</string>
		<key>ProductServer</key>
		<string>http://wap.amap.com/online/buslamb/index.html</string>
		<key>TestServer</key>
		<string>http://group.testing.amap.com/yue.wang/online/buslamb/index.html</string>
	</dict>
	<key>OnlineGPSSimulatorServer</key>
	<dict>
		<key>title</key>
		<string>OnlineGPSSimulatorServer</string>
		<key>ProductServer</key>
		<string></string>
		<key>TestServer</key>
		<string>http://100.69.207.138/busnavi?Type=2&amp;Usr=</string>
	</dict>
	<key>ShortCutServer</key>
	<dict>
		<key>title</key>
		<string>ShortCutServer</string>
		<key>ProductServer</key>
		<string>http://127.0.0.1</string>
		<key>TestServer</key>
		<string>http://127.0.0.1</string>
	</dict>
	<key>BaseDebugServer</key>
	<dict>
		<key>title</key>
		<string>BaseDebugServer</string>
		<key>ProductServer</key>
		<string></string>
		<key>TestServer</key>
		<string>http://maps.debug.amap.com/</string>
	</dict>
	<key>TrafficLayerServer</key>
	<dict>
		<key>title</key>
		<string>TrafficLayerServer</string>
		<key>ProductServer</key>
		<string>http://mps.amap.com/</string>
		<key>TestServer</key>
		<string>http://maps.testing.amap.com/</string>
	</dict>
	<key>SyncServer</key>
	<dict>
		<key>title</key>
		<string>SyncServer</string>
		<key>ProductServer</key>
		<string>https://sync.amap.com/</string>
		<key>TestServer</key>
		<string>https://sync.testing.amap.com/</string>
	</dict>
    <key>CollapsarServer</key>
    <dict>
        <key>title</key>
        <string>CollapsarServer</string>
        <key>ProductServer</key>
        <string>http://collapsar.amap.com/</string>
        <key>TestServer</key>
        <string>http://daily.collapsar.amap.test/</string>
    </dict>
</dict>
</plist>
