<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pinyin</key>
		<string>beijing</string>
		<key>name</key>
		<string>北京市</string>
		<key>adcode</key>
		<string>110000</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>shanghai</string>
		<key>name</key>
		<string>上海市</string>
		<key>adcode</key>
		<string>310000</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>guangzhou</string>
		<key>name</key>
		<string>广州市</string>
		<key>adcode</key>
		<string>440100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>shenzhen</string>
		<key>name</key>
		<string>深圳市</string>
		<key>adcode</key>
		<string>440300</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>changchun</string>
		<key>name</key>
		<string>长春市</string>
		<key>adcode</key>
		<string>220100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>chengdu</string>
		<key>name</key>
		<string>成都市</string>
		<key>adcode</key>
		<string>510100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>chongqing</string>
		<key>name</key>
		<string>重庆市</string>
		<key>adcode</key>
		<string>500000</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>dalian</string>
		<key>name</key>
		<string>大连市</string>
		<key>adcode</key>
		<string>210200</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>haerbin</string>
		<key>name</key>
		<string>哈尔滨市</string>
		<key>adcode</key>
		<string>230100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>foshan</string>
		<key>name</key>
		<string>佛山市</string>
		<key>adcode</key>
		<string>440600</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>hangzhou</string>
		<key>name</key>
		<string>杭州市</string>
		<key>adcode</key>
		<string>330100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>kunming</string>
		<key>name</key>
		<string>昆明市</string>
		<key>adcode</key>
		<string>530100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>nanjing</string>
		<key>name</key>
		<string>南京市</string>
		<key>adcode</key>
		<string>320100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>shenyang</string>
		<key>name</key>
		<string>沈阳市</string>
		<key>adcode</key>
		<string>210100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>suzhou</string>
		<key>name</key>
		<string>苏州市</string>
		<key>adcode</key>
		<string>320500</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>tianjin</string>
		<key>name</key>
		<string>天津市</string>
		<key>adcode</key>
		<string>120000</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>wuhan</string>
		<key>name</key>
		<string>武汉市</string>
		<key>adcode</key>
		<string>420100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>xian</string>
		<key>name</key>
		<string>西安市</string>
		<key>adcode</key>
		<string>610100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>xianggang</string>
		<key>name</key>
		<string>香港特别行政区</string>
		<key>adcode</key>
		<string>810000</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>zhengzhou</string>
		<key>name</key>
		<string>郑州市</string>
		<key>adcode</key>
		<string>410100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>ningbo</string>
		<key>name</key>
		<string>宁波市</string>
		<key>adcode</key>
		<string>330200</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>changsha</string>
		<key>name</key>
		<string>长沙市</string>
		<key>adcode</key>
		<string>430100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>wuxi</string>
		<key>name</key>
		<string>无锡市</string>
		<key>adcode</key>
		<string>320200</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>qingdao</string>
		<key>name</key>
		<string>青岛市</string>
		<key>adcode</key>
		<string>370200</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>nanchang</string>
		<key>name</key>
		<string>南昌市</string>
		<key>adcode</key>
		<string>360100</string>
	</dict>
	<dict>
		<key>pinyin</key>
		<string>fuzhou</string>
		<key>name</key>
		<string>福州市</string>
		<key>adcode</key>
		<string>350100</string>
	</dict>
</array>
</plist>
