<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tips_orign</key>
	<array>
		<dict>
			<key>text</key>
			<string>海淀桥堵不堵</string>
			<key>task</key>
			<string>traffic</string>
			<key>title</key>
			<string>看路况这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>导航去机场</string>
			<key>task</key>
			<string>navi</string>
			<key>title</key>
			<string>快捷导航这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>订酒店</string>
			<key>task</key>
			<string>function</string>
			<key>title</key>
			<string>试试这么说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>最近的停车场</string>
			<key>task</key>
			<string>search</string>
			<key>title</key>
			<string>查地点这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>怎么去首都机场</string>
			<key>task</key>
			<string>route</string>
			<key>title</key>
			<string>查线路这样说</string>
		</dict>
	</array>
	<key>tips_drive</key>
	<array>
		<dict>
			<key>text</key>
			<string>导航去火车站</string>
			<key>task</key>
			<string>traffic</string>
			<key>title</key>
			<string>快捷导航这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>订酒店</string>
			<key>task</key>
			<string>function</string>
			<key>title</key>
			<string>试试这么说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>长安街路况</string>
			<key>task</key>
			<string>traffic</string>
			<key>title</key>
			<string>看路况这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>附近的美食</string>
			<key>task</key>
			<string>search</string>
			<key>title</key>
			<string>查地点这样说</string>
		</dict>
		<dict>
			<key>text</key>
			<string>坐公交去动物园</string>
			<key>task</key>
			<string>route</string>
			<key>title</key>
			<string>查线路这样说</string>
		</dict>
	</array>
</dict>
</plist>
