<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenDynamicLayer</key>
	<string>last-false</string>
	<key>forbiddenFavoritePointClicked</key>
	<string>false</string>
	<key>forbiddenGPSClicked</key>
	<string>false</string>
	<key>forbiddenInteractionPointClicked</key>
	<string>false</string>
	<key>forbiddenMapLongPressed</key>
	<string>false</string>
	<key>forBiddenTrafficPopLayer</key>
	<string>true</string>
	<key>forbiddenMapPointClicked</key>
	<string>false</string>
	<key>forbiddenShowCityScenicSwitchBtn</key>
	<string>last-false</string>
	<key>forbiddenShowFavorLayer</key>
	<string>false</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>false</string>
	<key>forbiddenShowInteractionLayer</key>
	<string>custom</string>
	<key>forbiddenShowLayersBtn</key>
	<string>last-false</string>
	<key>forbiddenShowLetterButton</key>
	<string>last-false</string>
	<key>forbiddenShowLocationShootingBtn</key>
	<string>last-false</string>
	<key>forbiddenShowMainLayer</key>
	<string>last</string>
	<key>forbiddenShowMainLayerFavor</key>
	<string>false</string>
	<key>forbiddenShowMainLayerInteraction</key>
	<string>false</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>last-false</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>last-false</string>
	<key>forbiddenSkinLayer</key>
	<string>last-false</string>
	<key>forbiddenVoiceInput</key>
	<string>true</string>
	<key>forbiddenRealtimeMapLayer</key>
	<string>last-false</string>
	<key>needStopNMLayers</key>
	<string>custom</string>
	<key>shouldShowTraffic</key>
	<string>custom</string>
	<key>forbiddenMessageBoxButton</key>
	<string>last-false</string>
	<key>forbiddenShowFloorSelector</key>
	<string>last</string>
	<key>forbiddenShowBaocuoButton</key>
	<string>last-true</string>
	<key>forbiddenBottomViewShown</key>
	<string>custom</string>
	<key>forbiddenAll3DArea</key>
	<string>custom</string>
	<key>forbidenShowMapviewScaleLine</key>
	<string>custom</string>
	<key>forbidenShowAutoLogo</key>
	<string>custom</string>
	<key>forbiddenGuideviewButton</key>
	<string>last-false</string>
</dict>
</plist>
