<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenDynamicLayer</key>
	<string>false</string>
	<key>forbiddenShowCityScenicSwitchBtn</key>
	<string>last-false</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>false</string>
	<key>forbiddenShowInteractionLayer</key>
	<string>false</string>
	<key>forbiddenShowLayersBtn</key>
	<string>false</string>
	<key>forbiddenShowLetterButton</key>
	<string>false</string>
	<key>forbiddenShowLocationShootingBtn</key>
	<string>last-false</string>
	<key>forbiddenShowMainLayer</key>
	<string>last-false</string>
	<key>forbiddenShowMainLayerFavor</key>
	<string>false</string>
	<key>forbiddenShowMainLayerInteraction</key>
	<string>false</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>last-false</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>last-false</string>
	<key>forbiddenSkinLayer</key>
	<string>false</string>
	<key>forbiddenAll3DArea</key>
	<string>false</string>
</dict>
</plist>
