<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenDynamicLayer</key>
	<string>true</string>
	<key>forbiddenShowCompass</key>
	<string>last</string>
	<key>forbiddenShowGPSOverlay</key>
	<string>last</string>
	<key>forbiddenShowLayersBtn</key>
	<string>last</string>
	<key>forbiddenShowLetterButton</key>
	<string>last</string>
	<key>forbiddenShowLocationShootingBtn</key>
	<string>last</string>
	<key>forbiddenShowMainLayer</key>
	<string>last</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>last</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>last</string>
	<key>forbiddenSkinLayer</key>
	<string>last</string>
	<key>forbiddenSmartScenic</key>
	<string>custom</string>
	<key>needResumePrevManager</key>
	<string>custom</string>
	<key>shouldShowTraffic</key>
	<string>last</string>
	<key>forbiddenMessageBoxButton</key>
	<string>last</string>
	<key>forbiddenMapPointClicked</key>
	<string>custom</string>
	<key>forbiddenGuideviewButton</key>
	<string>last</string>
	<key>forbidenShowMapviewScaleLine</key>
	<string>last</string>
	<key>forbiddenTopViewShown</key>
	<string>last</string>
	<key>forbiddenBottomViewShown</key>
	<string>last</string>
</dict>
</plist>
