<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category50_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_chi</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>美食</string>
				<key>search_name</key>
				<string>美食</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>美食团购</string>
				<key>search_name</key>
				<string>美食团购</string>
				<key>action_type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>川菜</string>
				<key>search_name</key>
				<string>川菜</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>肯德基</string>
				<key>search_name</key>
				<string>肯德基</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category51_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_zhu</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>酒店</string>
				<key>search_name</key>
				<string>酒店</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>酒店团购</string>
				<key>search_name</key>
				<string>酒店团购</string>
				<key>action_type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>快捷酒店</string>
				<key>search_name</key>
				<string>快捷酒店</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>五星级宾馆</string>
				<key>search_name</key>
				<string>五星级宾馆</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category52_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_xing</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>加油站</string>
				<key>search_name</key>
				<string>加油站</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>公交站</string>
				<key>search_name</key>
				<string>公交站</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>地铁站</string>
				<key>search_name</key>
				<string>地铁站</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>停车场</string>
				<key>search_name</key>
				<string>停车场</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category55_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_gou</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>商场</string>
				<key>search_name</key>
				<string>商场</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>超市</string>
				<key>search_name</key>
				<string>超市</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>团购</string>
				<key>search_name</key>
				<string>团购</string>
				<key>action_type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>优惠</string>
				<key>search_name</key>
				<string>优惠</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category54_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_you</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>名胜景点</string>
				<key>search_name</key>
				<string>名胜景点</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>博物馆</string>
				<key>search_name</key>
				<string>博物馆</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category53_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_yu</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>电影院</string>
				<key>search_name</key>
				<string>电影院</string>
				<key>action_type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>网吧</string>
				<key>search_name</key>
				<string>网吧</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>酒吧</string>
				<key>search_name</key>
				<string>酒吧</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>夜店</string>
				<key>search_name</key>
				<string>夜店</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>洗浴</string>
				<key>search_name</key>
				<string>洗浴</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>足疗</string>
				<key>search_name</key>
				<string>足疗</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>KTV</string>
				<key>search_name</key>
				<string>KTV</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>咖啡厅</string>
				<key>search_name</key>
				<string>咖啡厅</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bg_url</key>
		<string>generalsearch_icon_category56_normal</string>
		<key>icon_url</key>
		<string>generalsearch_icon_title_life</string>
		<key>columns</key>
		<integer>2</integer>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>ATM</string>
				<key>search_name</key>
				<string>ATM</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>银行</string>
				<key>search_name</key>
				<string>银行</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>医院</string>
				<key>search_name</key>
				<string>医院</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>药店</string>
				<key>search_name</key>
				<string>药店</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>电讯营业厅</string>
				<key>search_name</key>
				<string>电讯营业厅</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>公共厕所</string>
				<key>search_name</key>
				<string>公共厕所</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
