<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categorys</key>
	<array>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_service</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>团购</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>团购</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>订餐厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>订餐厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>叫外卖</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>外卖</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>看电影</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>看电影</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>订酒店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>酒店预订</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>订门票</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>订门票</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>4</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>出租车</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>出租车</string>
					<key>special_poi</key>
					<string>1</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>3</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>找代驾</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string>http://wap.amap.com/license/driving.html</string>
						<key>url</key>
						<string>http://h5.edaijia.cn/amap/home.html</string>
						<key>url_type</key>
						<string>2</string>
						<key>website_name</key>
						<string>e代驾</string>
					</dict>
					<key>search_name</key>
					<string>找代驾</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>3</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>租车</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string>http://wap.amap.com/license/rentcar_shenzhou.html</string>
						<key>url</key>
						<string>http://m.zuche.com/html5/gdsom/rent.html</string>
						<key>url_type</key>
						<string>2</string>
						<key>website_name</key>
						<string>神州租车</string>
					</dict>
					<key>search_name</key>
					<string>租车</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>公交站</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>公交站</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>3</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>找搬家</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string>http://wap.amap.com/license/moving.html</string>
						<key>url</key>
						<string>http://www.taskp.com/wap/move?from=gaode</string>
						<key>url_type</key>
						<string>2</string>
						<key>website_name</key>
						<string>小跑生活</string>
					</dict>
					<key>search_name</key>
					<string>找搬家</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>高尔夫预订</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>高尔夫球场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>优惠</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>优惠</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_eat</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>快餐厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>快餐厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>中餐厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>中餐厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>西餐厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>西餐厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>日本料理</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>日本料理</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>韩国料理</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>韩国料理</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>东南亚菜</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>东南亚菜</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>印度风味</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>印度风味</string>
					<key>special_poi</key>
					<string>1</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>咖啡厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>咖啡厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>茶艺馆</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>茶艺馆</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>冷饮店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>冷饮店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>糕饼店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>糕饼店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>甜品店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>甜品店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_live</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>快捷连锁</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>快捷连锁酒店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>旅馆招待所</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>旅馆招待所</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>客栈/青旅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>客栈|青年旅社</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>度假公寓</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>度假公寓</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>五星级宾馆</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>五星级宾馆</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>四星级宾馆</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>四星级宾馆</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>三星级宾馆</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>三星级宾馆</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_walk</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>公交站</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>公交站</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>地铁站</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>地铁站</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>停车场</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>停车场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>加油站</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>加油站</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>机票代售点</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>机票代售点</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>长途汽车站</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>长途汽车站</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>火车票代售点</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>火车票代售点</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_play</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>2</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>电影院</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>电影院</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>网吧</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>网吧</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>KTV</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>KTV</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>酒吧</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>酒吧</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>洗浴推拿</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>洗浴|推拿</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>夜店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>夜店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>游乐场</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>游乐场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>游戏厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>游戏厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>棋牌室</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>棋牌室</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>健身中心</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>健身中心</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_shopping</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>商场</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>商场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>超市</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>超市</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>便利店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>便利店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_life</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>银行</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>银行</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>ATM</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>ATM</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>公共厕所</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>公共厕所</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>医院</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>医院</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>药店</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>药店</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>电讯营业厅</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>电讯营业厅</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>bg_url</key>
			<string></string>
			<key>columns</key>
			<string>3</string>
			<key>icon_url</key>
			<string>generalsearch_nearby_icon_travel</string>
			<key>items</key>
			<array>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>风景名胜</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>风景名胜</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>公园广场</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>公园广场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>博物馆</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>博物馆</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
				<dict>
					<key>action_type</key>
					<string>1</string>
					<key>columns</key>
					<string>1</string>
					<key>display_name</key>
					<string>游乐场</string>
					<key>open_url</key>
					<dict>
						<key>announce</key>
						<string></string>
						<key>url</key>
						<string></string>
						<key>url_type</key>
						<string></string>
						<key>website_name</key>
						<string></string>
					</dict>
					<key>search_name</key>
					<string>游乐场</string>
					<key>special_poi</key>
					<string>0</string>
					<key>tips</key>
					<string></string>
					<key>tips_icon_type</key>
					<string>0</string>
					<key>tips_icon_url</key>
					<string></string>
				</dict>
			</array>
			<key>page_id</key>
			<string>2</string>
		</dict>
	</array>
	<key>cityCode</key>
	<string>9999</string>
	<key>searchType</key>
	<string>2</string>
</dict>
</plist>
