<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shp_tags</key>
	<array>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_food</string>
			<key>name</key>
			<string>美食</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>美食</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_hotel</string>
			<key>name</key>
			<string>酒店</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>酒店</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_bus</string>
			<key>name</key>
			<string>公交站</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>公交站</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_bank</string>
			<key>name</key>
			<string>银行</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>银行</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_scen</string>
			<key>name</key>
			<string>景点</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>景点</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_gas</string>
			<key>name</key>
			<string>加油站</string>
			<key>redirect_type</key>
			<string>SEARCH</string>
			<key>redirect_value</key>
			<string>加油站</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_collect</string>
			<key>name</key>
			<string>收藏夹</string>
			<key>redirect_type</key>
			<string>Favorite</string>
			<key>redirect_value</key>
			<string>收藏夹</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#000000</string>
			<key>font_size</key>
			<string>14</string>
			<key>leftImg</key>
			<string>generalsearch_keyword_more</string>
			<key>name</key>
			<string>更多</string>
			<key>redirect_type</key>
			<string>SCHEMA</string>
			<key>redirect_value</key>
			<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
		</dict>
	</array>
	<key>shp_tags_indoor_shop</key>
	<array>
		<dict>
			<key>titleColor</key>
			<string>#0091ff</string>
			<key>title</key>
			<string>购物指南</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>美食</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>美食</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>咖啡厅</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>咖啡厅</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>珠宝首饰</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>珠宝首饰</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>休闲娱乐</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>休闲娱乐</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>化妆品</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>化妆品</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>服饰鞋包</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>服饰鞋包</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>运动户外</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>运动户外</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>家电数码</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>家电数码</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>titleColor</key>
			<string>#ff720a</string>
			<key>title</key>
			<string>服务设施</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>卫生间</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>卫生间</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>ATM</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>ATM</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>服务台</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>服务台</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>收银台</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>收银台</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>出入口</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>出入口</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>直梯</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>直梯</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>扶梯</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>扶梯</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>母婴室</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>母婴室</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>shp_tags_indoor_airport</key>
	<array>
		<dict>
			<key>titleColor</key>
			<string>#0091ff</string>
			<key>title</key>
			<string>乘机指南</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>登机口</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>登机口</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>值机区</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>值机区</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>安全检查</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>安全检查</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>行李服务</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>行李服务</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>候机室</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>候机室</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>问询处</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>问询处</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>中转柜台</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>中转柜台</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>货币兑换</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>货币兑换</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>titleColor</key>
			<string>#ff720a</string>
			<key>title</key>
			<string>热门搜索</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>ATM</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>ATM</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>卫生间</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>卫生间</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>快餐</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>快餐</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>美食</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>美食</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>免税店</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>免税店</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>咖啡厅</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>咖啡厅</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>停车场</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>停车场</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>shp_tags_indoor_station</key>
	<array>
		<dict>
			<key>titleColor</key>
			<string>#0091ff</string>
			<key>title</key>
			<string>乘车指南</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>售票</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>售票</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>退票</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>退票</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>自助取票机</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>自助取票机</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>站台</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>站台</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>进站口</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>进站口</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>出站口</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>出站口</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>候车室</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>候车室</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>行李寄存</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>行李寄存</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>titleColor</key>
			<string>#ff720a</string>
			<key>title</key>
			<string>热门搜索</string>
			<key>keywords</key>
			<array>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>ATM</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>ATM</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>卫生间</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>卫生间</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>快餐</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>快餐</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>美食</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>美食</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>便利店</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>便利店</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>咖啡厅</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>咖啡厅</string>
				</dict>
				<dict>
					<key>color</key>
					<string>#000000</string>
					<key>font_size</key>
					<string>14</string>
					<key>leftImg</key>
					<string></string>
					<key>name</key>
					<string>停车场</string>
					<key>redirect_type</key>
					<string>SEARCH</string>
					<key>redirect_value</key>
					<string>停车场</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
