<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>0</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=0</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=0</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=0</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=0</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
	<key>11</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>11</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=11</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=11</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=11</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=11</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
	<key>15</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>15</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=15</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=15</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=15</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=15</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
	<key>18</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>18</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=18</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=18</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=18</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=18</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
	<key>22</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>22</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=22</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=22</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=22</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=22</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
	<key>7</key>
	<dict>
		<key>shp_city</key>
		<string>010</string>
		<key>shp_col_num</key>
		<string>4</string>
		<key>shp_date</key>
		<string></string>
		<key>shp_hour</key>
		<string>7</string>
		<key>shp_row_num</key>
		<string>1</string>
		<key>shp_schema_compatible</key>
		<string>0-3</string>
		<key>shp_schema_target</key>
		<string>3</string>
		<key>shp_sid</key>
		<string>1</string>
		<key>shp_tags</key>
		<array>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH05&amp;sid=1&amp;city=010&amp;type=0&amp;hour=7</string>
				<key>name</key>
				<string>美食</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>美食</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-YZH1001&amp;sid=1&amp;city=010&amp;type=0&amp;hour=7</string>
				<key>name</key>
				<string>酒店</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>酒店</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=CATE-150700&amp;sid=1&amp;city=010&amp;type=0&amp;hour=7</string>
				<key>name</key>
				<string>公交站</string>
				<key>redirect_type</key>
				<string>SEARCH</string>
				<key>redirect_value</key>
				<string>公交站</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
			<dict>
				<key>col_span</key>
				<string>1</string>
				<key>color</key>
				<string>#000000</string>
				<key>font_size</key>
				<string>14</string>
				<key>icon</key>
				<string></string>
				<key>log_param</key>
				<string>&amp;tagid=SCHEMA-APP_MORE&amp;sid=1&amp;city=010&amp;type=0&amp;hour=7</string>
				<key>name</key>
				<string>更多&gt;</string>
				<key>redirect_type</key>
				<string>SCHEMA</string>
				<key>redirect_value</key>
				<string>ANDROID:SearchMore;IOS:GeneralSearch&amp;page=SearchMore</string>
				<key>row_num</key>
				<string>0</string>
				<key>row_span</key>
				<string>1</string>
				<key>sup</key>
				<string></string>
			</dict>
		</array>
		<key>shp_tags_type</key>
		<string>tag</string>
		<key>shp_type</key>
		<string>0</string>
		<key>shp_version</key>
		<string>20140419</string>
	</dict>
</dict>
</plist>
