<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>display_title</key>
		<string>美食餐饮</string>
		<key>display_subTitle</key>
		<string>快餐 中餐 西餐 咖啡厅 甜品店</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_food</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>快餐厅</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部快餐厅</string>
						<key>search_name</key>
						<string>快餐厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050300</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>肯德基</string>
						<key>search_name</key>
						<string>肯德基</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050301</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>麦当劳</string>
						<key>search_name</key>
						<string>麦当劳</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050302</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>必胜客</string>
						<key>search_name</key>
						<string>必胜客</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050303</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>永和豆浆</string>
						<key>search_name</key>
						<string>永和豆浆</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050304</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>茶餐厅</string>
						<key>search_name</key>
						<string>茶餐厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050305</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>吉野家</string>
						<key>search_name</key>
						<string>吉野家</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050309</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>大家乐</string>
						<key>search_name</key>
						<string>大家乐</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050306</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>大快活</string>
						<key>search_name</key>
						<string>大快活</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050307</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>display_name</key>
				<string>中餐厅</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部中餐厅</string>
						<key>search_name</key>
						<string>中餐厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050100</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>火锅</string>
						<key>search_name</key>
						<string>火锅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050117</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>自助餐</string>
						<key>search_name</key>
						<string>自助餐</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string></string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>川菜</string>
						<key>search_name</key>
						<string>川菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050102</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>湘菜</string>
						<key>search_name</key>
						<string>湘菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050108</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>粤菜</string>
						<key>search_name</key>
						<string>粤菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050103</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>上海菜</string>
						<key>search_name</key>
						<string>上海菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050107</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>鲁菜</string>
						<key>search_name</key>
						<string>鲁菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050104</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>东北菜</string>
						<key>search_name</key>
						<string>东北菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050113</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>浙江菜</string>
						<key>search_name</key>
						<string>浙江菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050106</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>北京菜</string>
						<key>search_name</key>
						<string>北京菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050111</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>云贵菜</string>
						<key>search_name</key>
						<string>云贵菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050114</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>台湾菜</string>
						<key>search_name</key>
						<string>台湾菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050122</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>湖北菜</string>
						<key>search_name</key>
						<string>湖北菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050112</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>西北菜</string>
						<key>search_name</key>
						<string>西北菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050115</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>安徽菜</string>
						<key>search_name</key>
						<string>安徽菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050109</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>福建菜</string>
						<key>search_name</key>
						<string>福建菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050110</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>潮州菜</string>
						<key>search_name</key>
						<string>潮州菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050123</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>海鲜</string>
						<key>search_name</key>
						<string>海鲜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050119</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>素菜馆</string>
						<key>search_name</key>
						<string>素菜馆</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050120</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>清真菜馆</string>
						<key>search_name</key>
						<string>清真菜馆</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050121</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>老字号</string>
						<key>search_name</key>
						<string>老字号</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050116</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>display_name</key>
				<string>西餐厅</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部西餐厅</string>
						<key>search_name</key>
						<string>西餐厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050201</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>牛排</string>
						<key>search_name</key>
						<string>牛排</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050211</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>意大利菜</string>
						<key>search_name</key>
						<string>意大利菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050205</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>法国菜</string>
						<key>search_name</key>
						<string>法国菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050204</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>地中海菜</string>
						<key>search_name</key>
						<string>地中海菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050207</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>美式风味</string>
						<key>search_name</key>
						<string>美式风味</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050208</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>英国风味</string>
						<key>search_name</key>
						<string>英国风味</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050210</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>俄国菜</string>
						<key>search_name</key>
						<string>俄国菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050212</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>葡菜</string>
						<key>search_name</key>
						<string>葡菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050213</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>德国菜</string>
						<key>search_name</key>
						<string>德国菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050214</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>巴西烤肉</string>
						<key>search_name</key>
						<string>巴西烤肉</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050215</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>墨西哥菜</string>
						<key>search_name</key>
						<string>墨西哥菜</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>050216</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>display_name</key>
				<string>日本料理</string>
				<key>search_name</key>
				<string>日本料理</string>
				<key>category</key>
				<string>050202</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>韩国料理</string>
				<key>search_name</key>
				<string>韩国料理</string>
				<key>category</key>
				<string>050203</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>泰国/越南菜品餐厅</string>
				<key>search_name</key>
				<string>泰国/越南菜品餐厅</string>
				<key>category</key>
				<string>050206</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>印度风味</string>
				<key>search_name</key>
				<string>印度风味</string>
				<key>category</key>
				<string>050209</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>咖啡厅</string>
				<key>search_name</key>
				<string>咖啡厅</string>
				<key>category</key>
				<string>050500</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>茶艺馆</string>
				<key>search_name</key>
				<string>茶艺馆</string>
				<key>category</key>
				<string>050600</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>冷饮店</string>
				<key>search_name</key>
				<string>冷饮店</string>
				<key>category</key>
				<string>050700</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>糕饼店</string>
				<key>search_name</key>
				<string>糕饼店</string>
				<key>category</key>
				<string>050800</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>甜品店</string>
				<key>search_name</key>
				<string>甜品店</string>
				<key>category</key>
				<string>050900</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>酒店住宿</string>
		<key>display_subTitle</key>
		<string>快捷连锁 星级酒店 青旅客栈</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_hotle</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>快捷连锁酒店</string>
				<key>search_name</key>
				<string>快捷连锁酒店</string>
				<key>category</key>
				<string>100105</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>旅馆招待所</string>
				<key>search_name</key>
				<string>旅馆招待所</string>
				<key>category</key>
				<string>100200</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>客栈/青年旅社</string>
				<key>search_name</key>
				<string>客栈|青年旅社</string>
				<key>category</key>
				<string>100201</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>度假公寓</string>
				<key>search_name</key>
				<string>度假公寓</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>五星级宾馆</string>
				<key>search_name</key>
				<string>五星级宾馆</string>
				<key>category</key>
				<string>100102</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>四星级宾馆</string>
				<key>search_name</key>
				<string>四星级宾馆</string>
				<key>category</key>
				<string>100103</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>三星级宾馆</string>
				<key>search_name</key>
				<string>三星级宾馆</string>
				<key>category</key>
				<string>100104</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>交通出行</string>
		<key>display_subTitle</key>
		<string>公交地铁 停车场 加油站</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_busstation</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>公交站</string>
				<key>search_name</key>
				<string>公交站</string>
				<key>category</key>
				<string>150700</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>地铁站</string>
				<key>search_name</key>
				<string>地铁站</string>
				<key>category</key>
				<string>150500</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>停车场</string>
				<key>search_name</key>
				<string>停车场</string>
				<key>category</key>
				<string>150900</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>加油站</string>
				<key>search_name</key>
				<string>加油站</string>
				<key>category</key>
				<string>010100</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>火车票代售点</string>
				<key>search_name</key>
				<string>火车票代售点</string>
				<key>category</key>
				<string>070302</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>机票代售点</string>
				<key>search_name</key>
				<string>机票代售点</string>
				<key>category</key>
				<string>070301</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>长途汽车站</string>
				<key>search_name</key>
				<string>长途汽车站</string>
				<key>category</key>
				<string>150400</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>休闲娱乐</string>
		<key>display_subTitle</key>
		<string>电影院 网吧 KTV 酒吧 夜店</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_movie</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>电影院</string>
				<key>search_name</key>
				<string>电影院</string>
				<key>category</key>
				<string>080601</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>网吧</string>
				<key>search_name</key>
				<string>网吧</string>
				<key>category</key>
				<string>080308</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>KTV</string>
				<key>search_name</key>
				<string>KTV</string>
				<key>category</key>
				<string>080302</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>酒吧</string>
				<key>search_name</key>
				<string>酒吧</string>
				<key>category</key>
				<string>080304</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>洗浴推拿</string>
				<key>search_name</key>
				<string>洗浴推拿</string>
				<key>category</key>
				<string>071400</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>夜店</string>
				<key>search_name</key>
				<string>夜店</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>游乐场</string>
				<key>search_name</key>
				<string>游乐场</string>
				<key>category</key>
				<string>080501</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>游戏厅</string>
				<key>search_name</key>
				<string>游戏厅</string>
				<key>category</key>
				<string>080305</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>棋牌室</string>
				<key>search_name</key>
				<string>棋牌室</string>
				<key>category</key>
				<string>080306</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>健身中心</string>
				<key>search_name</key>
				<string>健身中心</string>
				<key>category</key>
				<string>080111</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>购物场所</string>
		<key>display_subTitle</key>
		<string>商场 超市 便利店</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_shoppingnew</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>商场</string>
				<key>search_name</key>
				<string>商场</string>
				<key>category</key>
				<string>060100</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>超级市场</string>
				<key>search_name</key>
				<string>超级市场</string>
				<key>category</key>
				<string>060400</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>便利店</string>
				<key>search_name</key>
				<string>便利店</string>
				<key>category</key>
				<string>060200</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>生活服务</string>
		<key>display_subTitle</key>
		<string>银行 ATM 公共厕所 医院 药店</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_lifeservice</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>银行</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部银行</string>
						<key>search_name</key>
						<string>银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160100</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国工商银行</string>
						<key>search_name</key>
						<string>中国工商银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160105</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国建设银行</string>
						<key>search_name</key>
						<string>中国建设银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160106</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>招商银行</string>
						<key>search_name</key>
						<string>招商银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160109</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国银行</string>
						<key>search_name</key>
						<string>中国银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160104</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国农业银行</string>
						<key>search_name</key>
						<string>中国农业银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160107</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>交通银行</string>
						<key>search_name</key>
						<string>交通银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160108</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>广发银行</string>
						<key>search_name</key>
						<string>广发银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160120</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中信银行</string>
						<key>search_name</key>
						<string>中信银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160111</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国光大银行</string>
						<key>search_name</key>
						<string>中国光大银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160113</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>华夏银行</string>
						<key>search_name</key>
						<string>华夏银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160110</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>兴业银行</string>
						<key>search_name</key>
						<string>兴业银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160118</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国民生银行</string>
						<key>search_name</key>
						<string>中国民生银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160112</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>邮政储蓄银行</string>
						<key>search_name</key>
						<string>邮政储蓄银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160139</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>北京银行</string>
						<key>search_name</key>
						<string>北京银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160119</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>平安银行</string>
						<key>search_name</key>
						<string>平安银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160117</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>display_name</key>
				<string>ATM</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部ATM</string>
						<key>search_name</key>
						<string>ATM</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160300</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国工商银行</string>
						<key>search_name</key>
						<string>中国工商银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160302</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国建设银行</string>
						<key>search_name</key>
						<string>中国建设银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160303</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>招商银行</string>
						<key>search_name</key>
						<string>招商银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160306</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国银行</string>
						<key>search_name</key>
						<string>中国银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160301</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国农业银行</string>
						<key>search_name</key>
						<string>中国农业银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160304</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>交通银行</string>
						<key>search_name</key>
						<string>交通银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160305</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>广发银行</string>
						<key>search_name</key>
						<string>广发银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160317</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中信银行</string>
						<key>search_name</key>
						<string>中信银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160308</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国光大银行</string>
						<key>search_name</key>
						<string>中国光大银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160310</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>华夏银行</string>
						<key>search_name</key>
						<string>华夏银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160307</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>兴业银行</string>
						<key>search_name</key>
						<string>兴业银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160315</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国民生银行</string>
						<key>search_name</key>
						<string>中国民生银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160309</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>邮政储蓄银行</string>
						<key>search_name</key>
						<string>邮政储蓄银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160336</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>北京银行</string>
						<key>search_name</key>
						<string>北京银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160316</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>平安银行</string>
						<key>search_name</key>
						<string>平安银行</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>160314</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>display_name</key>
				<string>公共厕所</string>
				<key>search_name</key>
				<string>公共厕所</string>
				<key>category</key>
				<string>200300</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>医院</string>
				<key>search_name</key>
				<string>医院</string>
				<key>category</key>
				<string>090000</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>药店</string>
				<key>search_name</key>
				<string>药店</string>
				<key>category</key>
				<string>090600</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>电讯营业厅</string>
				<key>children</key>
				<array>
					<dict>
						<key>display_name</key>
						<string>全部电讯营业厅</string>
						<key>search_name</key>
						<string>电讯营业厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>070600</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国电信营业厅</string>
						<key>search_name</key>
						<string>中国电信营业厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>070601</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国移动营业厅</string>
						<key>search_name</key>
						<string>中国移动营业厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>070603</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国联通营业厅</string>
						<key>search_name</key>
						<string>中国联通营业厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>070604</string>
					</dict>
					<dict>
						<key>display_name</key>
						<string>中国铁通营业厅</string>
						<key>search_name</key>
						<string>中国铁通营业厅</string>
						<key>action_type</key>
						<string>1</string>
						<key>category</key>
						<string>070605</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>display_title</key>
		<string>旅游景点</string>
		<key>display_subTitle</key>
		<string>风景名胜 公园 博物馆</string>
		<key>icon_url</key>
		<string>generalsearch_nearby_icon_travelnew</string>
		<key>items</key>
		<array>
			<dict>
				<key>display_name</key>
				<string>风景名胜</string>
				<key>search_name</key>
				<string>风景名胜</string>
				<key>category</key>
				<string>110000</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>公园广场</string>
				<key>search_name</key>
				<string>公园广场</string>
				<key>category</key>
				<string>110100</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>博物馆</string>
				<key>search_name</key>
				<string>博物馆</string>
				<key>category</key>
				<string>140100</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>display_name</key>
				<string>游乐场</string>
				<key>search_name</key>
				<string>游乐场</string>
				<key>category</key>
				<string>080501</string>
				<key>action_type</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
