<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forbiddenMessageBoxButton</key>
	<string>custom</string>
	<key>forbiddenShowCompass</key>
	<string>custom</string>
	<key>coveredFullScreen</key>
	<string>custom</string>
	<key>forbiddenFavoritePointClicked</key>
	<string>custom</string>
	<key>forbiddenGPSClicked</key>
	<string>custom</string>
	<key>forbiddenInteractionPointClicked</key>
	<string>custom</string>
	<key>forbiddenMapLongPressed</key>
	<string>custom</string>
	<key>forbiddenMapPointClicked</key>
	<string>custom</string>
	<key>forbiddenShowCityScenicSwitchBtn</key>
	<string>custom</string>
	<key>forbiddenShowIndoorLayer</key>
	<string>custom</string>
	<key>forbiddenShowInteractionLayer</key>
	<string>custom</string>
	<key>forbiddenShowLayersBtn</key>
	<string>custom</string>
	<key>forbiddenShowMainLayer</key>
	<string>custom</string>
	<key>forbiddenShowMapFeedBackBtn</key>
	<string>true</string>
	<key>forbiddenShowTrafficBtn</key>
	<string>custom</string>
	<key>forbiddenTapIndoorLayer</key>
	<string>custom</string>
	<key>needStopNMLayers</key>
	<string>true</string>
	<key>shouldShowTraffic</key>
	<string>custom</string>
	<key>forbiddenSmartScenic</key>
	<string>true</string>
	<key>forbiddenShowFloorSelector</key>
	<string>custom</string>
	<key>forbiddenBottomViewShown</key>
	<string>true</string>
	<key>forbiddenTopViewShown</key>
	<string>true</string>
	<key>forbiddenShowBaocuoButton</key>
	<string>custom</string>
</dict>
</plist>
